@import "../../../assets/css/basic.sass"

.content
  display: inline-block
  width: 100%
  @include mobile
  margin: 0 auto
  .iframe-caracol-play
    iframe
      border: none
      height: 250px
      @include mobile
        height: 435px
  .video
    position: relative
    text-align: center
    display: inline-block
    width: 100%
    padding: 8px 0
    @include mobile
      padding: 5px
    .public
      @include mobile
        padding-bottom: 0
        overflow: hidden
        margin: 5px 0 10px 0
      // &:before
      //   content: ""
      //   background: url("/src/assets/images/jugadores_amistosos.png") no-repeat center bottom
      //   display: block
      //   height: 250px
      //   width: 100%
      //   background-size: 85%
      // @include mobile
      //   padding-bottom: 20px
      //   display: none
      // h3
      //   margin: 0
      //   box-sizing: border-box
      //   padding-top: 35px
      //   font-size: 12px
      //   font-family: $roboto
      //   color: $gray
      //   font-weight: 600
      //   @include mobile
      //     padding-top: 0
      .public-list
        display: inline-flex
        width: 100%
        align-items: center
        flex-wrap: wrap
        justify-content: space-around
        margin: 0
        padding: 0
        overflow: hidden
        height: 50px
        li
          display: flex
          align-items: center
          img
            width: auto
            @include mobile
              height: 35px
        @include mobile
          margin: 0
          overflow: hidden
          max-height: 35px
      .slick-track
        display: flex
        align-items: center
      .slick-initialized
        @include mobile
          overflow: hidden
        .slick-prev,
        .slick-next
          display: none !important
        //   position: absolute
        //   display: none
        //   height: 20px
        //   width: 20px
        //   line-height: 0px
        //   font-size: 0px
        //   cursor: pointer
        //   background: transparent
        //   color: transparent
        //   top: 50%
        //   -webkit-transform: translate(0, -50%)
        //   -ms-transform: translate(0, -50%)
        //   transform: translate(0, -50%)
        //   padding: 0
        //   border: none
        //   outline: none
        //   &:before
        //     font-family: $slick-font-family
        //     font-size: 20px
        //     color: $black
        //     opacity: $opacity-default
        //     font-weight: bold
        //     -webkit-font-smoothing: antialiased
        //     -moz-osx-font-smoothing: grayscale
        //   &:hover, &:focus
        //     outline: none
        //     background: transparent
        //     color: transparent
        //     &:before
        //       opacity: $opacity-on-hover
        //   &.slick-disabled:before
        //     opacity: $opacity-not-active
        // .slick-prev
        //   left: -25px
        //   [dir="rtl"] &
        //     left: auto
        //     right: -25px
        //   &:before
        //     content: $slick-prev-character
        //     [dir="rtl"] &
        //       content: $slick-next-character
        // .slick-next
        //   right: -25px
        //   [dir="rtl"] &
        //     left: -25px
        //     right: auto
        //   &:before
        //     content: $slick-next-character
        //     [dir="rtl"] &
        //       content: $slick-prev-character
        li
          @include mobile
            width: 100%
            outline: none
          img
            margin: 0 auto
            width: auto
            @include mobile
              height: 35px
  .marco-play
    position: relative
    max-width: 1400px
    margin: 0 auto
    overflow: hidden
    .border-play
      max-width: 948px
      margin: 0 auto
      padding: 10px 10px 3px
      margin-bottom: 10px
      position: relative
      z-index: 2
      @include mobile
        max-width: 100%
        margin: 0 auto
        padding: 0
      iframe
        min-height: 539px
        left: 140px
        width: 100%
        height: 90%
        z-index: 1
        @include mobile
          width: 93.75vw
          height: 46.875vw
          left: 0
          top: 280px
          bottom: 0
          min-height: 100%
  .gpt-ad
    text-align: center
    padding-bottom: 15px

  .pdt-med
    display: block
    text-align: center
    font-size: 14px
    color: rgb(156, 156, 156)
    padding: 2px 0
.iphone
  .content
    .video
      .public
        padding-bottom: 0
        overflow: hidden
        margin: 10px 0 15px 0
        .public-list
          margin: 0
          overflow: hidden
      .marco-play
        iframe
          @include ios
            width: 315px
            height: 169px
            max-width: inherit
            min-height: inherit
          @include iosTb
            width: 720px
            height: 405px
            max-width: inherit
            min-height: inherit
svg
  position: absolute
  top: 45px
  left: 0
  z-index: 1
  @include mobile
    display: none

#shape1
  stroke-width: 1px
  fill: #57D046
  stroke-dasharray: 85 400
  stroke-dashoffset: -220
  transition: 0.5s all ease

#shape2
  fill: #559433
  stroke-width: 1px
  stroke-dasharray: 85 400
  stroke-dashoffset: -220
  transition: 0.5s all ease

#shape3
  fill: #7C3581
  stroke-dasharray: 85 400
  stroke-dashoffset: -220
  transition: 0.5s all ease

#shape4
  fill: #EDB907
  stroke-width: 1px
  stroke-dasharray: 85 400
  stroke-dashoffset: -220
  transition: 0.5s all ease

#shape5
  fill: #DB1F29
  stroke-width: 1px
  stroke-dasharray: 85 400
  stroke-dashoffset: -220
  transition: 0.5s all ease

#shape6
  fill: #01A0BC
  stroke-width: 0.75px
  stroke-dasharray: 85 400
  stroke-dashoffset: -220
  transition: 0.5s all ease

#shape7
  fill: #D6EED2
  stroke-width: 1px
  stroke-dasharray: 85 400
  stroke-dashoffset: -220
  transition: 0.5s all ease

#text
  margin-top: -35px
  text-align: center
  a
    color: white
    text-decoration: none
    font-weight: 100
    font-size: 1.1em

#shape1:hover
  stroke-dasharray: 50 0
  stroke-width: 3px
  stroke-dashoffset: 0
  stroke: #57D046
  background: #57D046
  fill: #57D046

#shape2:hover
  stroke-dasharray: 50 0
  stroke-width: 3px
  stroke-dashoffset: 0
  stroke: #559433
  background: #559433
  fill: #559433

#shape3:hover
  stroke-dasharray: 50 0
  stroke-width: 3px
  stroke-dashoffset: 0
  stroke: #7C3581
  background: #7C3581
  fill: #7C3581

#shape4:hover
  stroke-dasharray: 90 0
  stroke-width: 3px
  stroke-dashoffset: 0
  stroke: #EDB907
  background: #EDB907
  fill: #EDB907

#shape5:hover
  stroke-dasharray: 50 0
  stroke-width: 3px
  stroke-dashoffset: 0
  stroke: #DB1F29
  background: #DB1F29
  fill: #DB1F29

#shape6:hover
  stroke-dasharray: 50 0
  stroke-width: 2px
  stroke-dashoffset: 0
  stroke: #01A0BC
  background: #01A0BC
  fill: #01A0BC

#shape7:hover
  stroke-dasharray: 50 0
  stroke-width: 3px
  stroke-dashoffset: 0
  stroke: #D6EED2
  background: #D6EED2
  fill: #D6EED2
// #shape1
//   stroke-width: 1px
//   fill: transparent
//   stroke-dasharray: 85 400
//   stroke-dashoffset: -220
//   transition: 0.5s all ease

// #shape2
//   fill: transparent
//   stroke-width: 1px
//   stroke-dasharray: 85 400
//   stroke-dashoffset: -220
//   transition: 0.5s all ease

// #shape3
//   fill: transparent
//   stroke-dasharray: 85 400
//   stroke-dashoffset: -220
//   transition: 0.5s all ease

// #shape4, #shape5, #shape6, #shape7
//   fill: transparent
//   stroke-width: 1px
//   stroke-dasharray: 85 400
//   stroke-dashoffset: -220
//   transition: 0.5s all ease

// #text
//   margin-top: -35px
//   text-align: center
//   a
//     color: white
//     text-decoration: none
//     font-weight: 100
//     font-size: 1.1em

// .marco-play:hover
//   #shape1
//     stroke-dasharray: 50 0
//     stroke-width: 3px
//     stroke-dashoffset: 0
//     stroke: #57D046
//     background: #57D046
//     fill: #57D046
//   #shape2
//     stroke-dasharray: 50 0
//     stroke-width: 3px
//     stroke-dashoffset: 0
//     stroke: #559433
//     background: #559433
//     fill: #559433
//   #shape3
//     stroke-dasharray: 50 0
//     stroke-width: 3px
//     stroke-dashoffset: 0
//     stroke: #7C3581
//     background: #7C3581
//     fill: #7C3581
//   #shape4
//     stroke-dasharray: 90 0
//     stroke-width: 3px
//     stroke-dashoffset: 0
//     stroke: #EDB907
//     background: #EDB907
//     fill: #EDB907
//   #shape5
//     stroke-dasharray: 50 0
//     stroke-width: 3px
//     stroke-dashoffset: 0
//     stroke: #DB1F29
//     background: #DB1F29
//     fill: #DB1F29
//   #shape6
//     stroke-dasharray: 50 0
//     stroke-width: 3px
//     stroke-dashoffset: 0
//     stroke: #01A0BC
//     background: #01A0BC
//     fill: #01A0BC
//   #shape7
//     stroke-dasharray: 50 0
//     stroke-width: 3px
//     stroke-dashoffset: 0
//     stroke: #D6EED2
//     background: #D6EED2
//     fill: #D6EED2
