<template>
	<div class="content">
		<div class="video">
			<div class="public">
				<ul class="public-list">
					<li>
						<img src="/src/assets/images/2.png">
					</li>
					<li>
						<img src="/src/assets/images/3.png">
					</li>
					<li>
						<img src="/src/assets/images/4.png">
					</li>
					<li>
						<img src="/src/assets/images/5.png">
					</li>
					<li>
						<img src="/src/assets/images/6.png">
					</li>
					<li>
						<img src="/src/assets/images/7.png">
					</li>
					<li>
						<img src="/src/assets/images/8.png">
					</li>
					<li>
						<img src="/src/assets/images/9.png">
					</li>
					<li>
						<img src="/src/assets/images/10.png">
					</li>
					<li>
						<img src="/src/assets/images/11.png">
					</li>
					<li>
						<img src="/src/assets/images/12.png">
					</li>
					<li>
						<img src="/src/assets/images/13.png">
					</li>
					<li>
						<img src="/src/assets/images/14.png">
					</li>
					<li>
						<img src="/src/assets/images/15.png">
					</li>
					<li>
						<img src="/src/assets/images/16.png">
					</li>
					<li>
						<img src="/src/assets/images/17.png">
					</li>
					<li>
						<img src="/src/assets/images/18.png">
					</li>
					<li>
						<img src="/src/assets/images/23.png">
					</li>
					<li>
						<img src="/src/assets/images/19.png">
					</li>
					<li>
						<img src="/src/assets/images/20.png">
					</li>
					<li>
						<img src="/src/assets/images/21.png">
					</li>
					<li>
						<img src="/src/assets/images/22.png">
					</li>
				</ul>
			</div>
			<div class="marco-play">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1357" height="470" viewBox="0 0 1357 470">
					<defs>
							<path id="a" d="M0 .568h192.027V70H0z"/>
							<path id="c" d="M.883.644h34.013v98.893H.883z"/>
					</defs>
					<g fill="none" fill-rule="evenodd">
							<path fill="#57D046" id="shape1" d="M1175.898 362.879c-7.502-3.43-15.58-4.364-23.648-5.342-4.603.235-9.239.74-13.488-1.714l-4.035-.228c-4.426.432-8.846.748-13.138-.836l-5.07-.474c-2.333.03-4.679.234-6.997.059-29.396-2.22-58.835-1.01-88.256-1.053-3.454-.005-8.096-.845-8.262 4.545-.146 4.733 4.097 4.386 7.353 5.035 34.983 6.963 70.395 11.12 105.757 15.512 14.429 1.792 28.888 4.728 43.51 3.182 5.083-.535 11.647-.404 13.89-6.64 2.385-6.631-4.622-8.279-7.616-12.046M1024.757 285.882c10.947-1.574 22.105-1.795 32.778-5.086 3.715-1.147 9.786-1.415 9.452-6.635-.41-6.418-6.75-4.302-10.724-4.785-12.938-1.575-25.67 2.333-38.587 1.968l-3.47.649-3.105.571c-.814.038-1.63.079-2.442.118l-.497-.174c-1.31 1.721-3.046 1.248-4.734 1.016-2.111.224-4.222.448-6.335.674-3.603 2.291-7.806 1.543-11.65 2.578-3.241.874-7.276.522-8.443 5.21.826 2.36 2.864 3.498 4.54 5l6.355.014c12.238-2.161 24.571-.938 36.862-1.118"/>
							<path fill="#559433" id="shape2" d="M439.197 378.947c-3.632 0-7.27.14-10.893-.037-3.96-.197-8.176-.629-9.146-5.48-1.028-5.14 3.166-6.65 6.762-8.058 13.243-5.182 27.286-6.38 41.242-7.117 17.865-.942 35.784-.903 53.68-1.2 3.825-.063 8.744-.697 9.14 4.677.328 4.484-4.003 5.54-7.63 6.269-27.474 5.523-55.176 9.332-83.155 10.946M199.495 240.994c-23.659-4.627-44.767-11.135-65.526-18.752-14.395-5.282-28.917-10.306-42.331-17.822a207.564 207.564 0 0 1-6.038-3.542c-2.32-1.408-4.622-3.167-3.122-6.095 1.343-2.617 4.173-1.785 6.306-1.048 8.845 3.056 17.736 6.03 26.39 9.551 26.733 10.879 53.743 21.024 81.231 29.93.989.32 2.04.584 2.902 1.12 1.658 1.028 4.38 1.607 3.534 4.273-.747 2.352-3.064 2.422-3.346 2.385M431.435 309.545c-11.02.92-22.032.6-32.68-2.403-4.437-1.25-11.343-2.508-10.715-7.983.636-5.543 7.498-5.223 12.188-5.115 17.971.413 35.42 4.248 52.704 8.896 1.9.51 4.462.862 4.017 3.66-.397 2.501-2.89 2.834-4.85 2.88-6.884.165-13.775.065-20.664.065M424.559 185.987c-5.142-.281-9.784-1.877-13.934-4.86-19.183-13.8-35.163-30.39-45.438-51.813-1.786-3.726-5.72-8.863-.808-11.742 4.16-2.439 6.18 3.536 8.497 6.308 12.436 14.89 26.528 28.03 41.818 39.984 5.546 4.335 11.245 8.673 14.341 15.258 2.077 4.416.897 7.084-4.476 6.865M862.163 304c1.612.673 2.848 1.655 2.837 3.664-8.983 5.117-19.172 4.985-28.776 5.565-40.14 2.431-80.23-1.608-120.357-2.253-2.388-.04-5.264-.081-4.821-3.554.36-2.83 2.985-2.436 5.08-2.196 48.725 5.598 97.36-.582 146.037-1.226M808 290.599c-7.578 3.33-13.78 2.383-19.91 1.886-1.05-.086-2.14-.585-2.088-1.865.047-1.22 1.075-1.75 2.137-1.909 6.157-.917 12.304-1.506 19.861 1.888M852.395 288.597c-.59 1.69.81 2.36 1.605 3.339-7.406.155-14.81.286-22-2.88L850.939 288c.487.2.97.399 1.456.597M965.044 291.74c-4.261-2.287-8.787 1.673-13.044-.715L968 288a4.556 4.556 0 0 1-.812 1.515c.005 0-.029.19-.029.19-1.237.127-2.137.66-2.105 2.295l-.01-.26z"/>
							<path fill="#7C3581" id="shape3" d="M288 243.125c-21.194-3.975-39.944-10.655-62-11.125 10.02 7.342 50.509 14.543 62 11.125M705.079 276.304c-37.982-6.224-76.045-11.96-113.755-19.802-15.161-3.153-30.181-7.185-45.307-8.502-4.199.885-10-1.485-10.947 3.8-.742 4.14 4.564 5.52 7.954 7.335 9.562 5.12 20.177 6.455 30.528 8.553 43.414 8.801 87.302 13.627 131.547 15.252 2.664.098 5.882.474 5.9-3.118.016-3.478-3.394-3.104-5.92-3.518M390.062 67.968c-.104-5.064-3.26-8.698-5.955-12.556-2.815-4.035-6.13-4.307-10.1-1.783-7.257 4.613-9.47 11.46-8.93 19.735 2.17 30.667 17.033 53.757 42.16 70.61 3.09 2.072 6.768 6.141 10.318 2.681 3.864-3.768-1.04-7.065-2.9-10.06-13.113-21.117-24.07-42.959-24.593-68.627M925.454 314.075c-17.61 2.26-35.52-.09-53.022 3.656-1.013 2.809-.255 4.917 2.403 6.269 4.112-.115 8.232-.41 12.342-.311 12.9.31 25.68-1.365 38.501-2.31 2.51-.187 5.7-.687 5.285-4.258-.332-2.855-3.219-3.34-5.509-3.046M960.83 277.187l3.2-.161c1.487-.445 3.025-.76 4.45-1.361 2.83-1.195 8.233-.165 7.442-4.847-.786-4.656-5.575-2.185-8.62-1.987-16.448 1.065-32.884 2.32-49.325 3.51l-2.176.948-4.766.177c-17.319 1.27-34.644 2.472-51.95 3.878-3.023.245-8.269-1.412-8.08 3.463.19 4.948 5.345 2.643 8.321 2.741 28.833.954 57.46-2.507 86.15-4.582l15.354-1.78M985.28 334.045c-6.705-1.877-13.884-1.024-20.394-4.037-8.563-1.264-17.106-2.065-25.221 2.197-1.52.799-3.79 1.165-3.66 3.7.121 2.34 2.17 2.86 3.762 3.721 7.532 4.083 15.57 3.582 23.624 2.948 7.4-1.188 14.802-2.368 22.201-3.567 1.755-.285 4.321-.183 4.404-2.443.124-3.404-2.955-2.026-4.717-2.519M1070.014 334.706c2.433.351 4.822.466 6.986-.503l-6.85-.164a.94.94 0 0 0-.136.667M1065 334.685l3-.107c-1.044-.38-2.042-.351-3 .107M1063 335.336l-3 .028c1.01.406 2.01.403 3-.028M1259.24 281.364c-2.293-.275-4.624-.374-6.937-.363-17.046.076-33.827 2.843-50.576 5.4-11.821 1.803-24.01 2.41-35.727 7.261 1.784 2.39 3.447 2.012 4.922 2.07 23.726.945 47.347-.742 70.934-2.935 6.402-.595 12.678-2.17 18.5-5.035 1.52-.749 3.89-1.1 3.623-3.347-.297-2.496-2.71-2.809-4.74-3.051"/>
							<g transform="translate(0 405)">
									<mask id="b" fill="#fff">
											<use xlink:href="#a"/>
									</mask>
									<path fill="#EDB907" id="shape4" d="M181.386.674c-9.016.786-18.02 1.67-27.03 2.511-9.223 2.126-18.686 3.117-28.01 4.773C89.009 14.587 52.44 23.586 16.733 35.537l-1.404.487C9.326 39.836 3.97 44.242-.001 49.924.002 60.755 1.35 62.39 12.092 64.568l13.98-.021 6.337-.455c.591-.447 1.108-1.103 1.786-1.312 44.283-13.653 88.579-27.272 132.875-40.893 6.019-2.117 11.983-4.382 18.076-6.306 5.22-1.648 7.804-4.668 6.582-9.666-1.241-5.067-5.638-5.65-10.342-5.24" mask="url(#b)"/>
							</g>
							<path fill="#EDB907"  id="shape4" d="M352.94 336.103c-6.75-2.186-13.732-1.49-18.711-2.018-6.759 0-11.64-.23-16.494.068-4.32.266-8.94 2-8.728 7.397.188 4.79 4.692 6.29 8.748 6.4 11.82.318 23.532-.872 35.117-3.507 2.182-.497 3.97-1.594 4.12-4.262.164-2.996-2.02-3.42-4.052-4.078M635.454 310.58c-1.265-.144-2.554-.077-3.832-.135-16.339-.748-32.677-1.499-49.016-2.25-5.615-.066-11.231-.131-16.846-.195-.31.435-.711.547-1.2.338-1.072 2.139-.506 4.027.856 5.8 6.338-.516 12.466 1.12 18.681 1.862 2.55-.047 5.097-.136 7.645-.132 14.577.024 29.154.087 43.734.09 1.936.001 4.522.56 4.524-2.615 0-3.116-2.632-2.547-4.546-2.764M389.814 191.111c-.94-.458-1.93-.814-2.857-1.291-38.796-19.987-75.609-42.57-102.693-77.925-1.772-2.313-4.02-4.171-6.954-3.861-3.946.086-6.16 2.225-7.577 5.187-2.094 4.383.707 7.46 3.253 10.453 24.142 28.39 53.414 50.474 85.535 69.01 7.91 4.563 16.015 8.788 24.034 13.155 5.141 2.8 10.356 3.717 13.398-2.462 3.023-6.137-.953-9.728-6.14-12.266M756.453 254.687c24.423 3.708 49.075 4.574 73.733 5.313 5.437-.164 10.877-.529 16.31-.45 13.021.189 25.893-.596 38.333-4.714 2.592-.86 6.43-1.127 6.157-4.613-.295-3.77-4.284-3.857-7.253-4.288-12.34-1.79-24.724-2.4-37.215-1.568-10.073.673-20.187.766-30.283 1.115-19.98.712-39.968 1.286-59.935 2.257-3.644.177-10.164-2.346-10.299 2.967-.11 4.323 6.599 3.396 10.452 3.98M594.853 241.106c.897-3.234-2.527-3.402-4.381-4.408-6.952-3.774-15.274-4.723-21.545-9.944l-.016-.043c-2.767.895-5.004-.692-7.364-1.576a13277.808 13277.808 0 0 1-41.704-15.706c-5.65-2.137-11.392-3.828-17.538-3.346-2.58.2-5.51.19-6.852 2.887-1.406 2.826.764 4.82 2.372 6.8 2.308 2.837 4.99 5.35 8.421 6.758 26.661 10.943 54.153 18.683 83.19 20.28 1.99.111 4.702.878 5.417-1.702M964.248 281c-37.037 2.251-74.072 4.504-111.109 6.756-.582 1.746.8 2.438 1.584 3.45.5-.035.904.134 1.223.504l71.41.29c1.32-.824 2.677-.777 4.062-.222 2.666-1.182 5.408-1.104 8.178-.567 3.993-.347 7.982-.695 11.975-1.044l15.32-2.753c2.91-3.964-.595-4.838-2.643-6.414M836.232 332.067c-24.15.036-48.23 4.543-72.438.998-2.041-.3-3.92.45-3.787 2.634.163 2.67 2.362 2.962 4.628 2.448 14.244-3.227 28.533-.169 42.796.837 12.23 0 24.459.059 36.688-.05 2.464-.022 5.969.24 5.88-3.303-.082-3.222-3.42-3.322-5.959-3.527-2.587-.208-5.205-.04-7.808-.037M1331.535 379.226c-13.012-1.45-25.969-3.408-38.95-5.143-14.414-.02-28.828.01-43.241-.083-5.274-.034-9.507 1.853-10.248 7.287-.725 5.31 2.746 8.074 7.687 9.972 21.895 8.416 44.697 13.449 67.435 18.751 6.362.938 12.698 2.122 19.088 2.761 13.229 1.326 19.671-3.013 23.694-15.502-4.416-11.792-13.517-16.712-25.465-18.043M1236.528 30.272c8.251 13.33 12.453 28.178 12.09 43.616-.376 15.968-5.365 31.166-14.326 44.553-2.037 3.044-1.987 4.984.373 6.74 2.69 2 4.767-.024 6.406-2.204 12.062-16.034 20.158-33.54 19.697-56.205.997-8.607-1.3-18.853-5.326-28.304-5.063-11.883-9.284-24.767-21.656-31.752-2.283-1.289-4.574-2.816-6.965-.567-2.77 2.607-1.952 5.816-.363 8.5 3.156 5.33 6.81 10.354 10.07 15.623M1256.639 248.335c4.496-1.868 9.124-3.165 14.045-3.214 1.289-1.546 3.217-1.358 4.918-1.84 9.578-2.718 19.618-4.075 28.357-9.293 1.562-.932 3.244-1.962 3.02-4.025-.237-2.175-2.058-2.64-3.967-2.816-10.327-.946-20.03 2.908-29.741 5.013-6.38 1.381-12.695 3.823-19.413 4.351-2.425 3.432-6.461 2.13-9.68 3.233-.175.59-.557.786-1.147.591-14.749 3.448-29.497 6.892-44.246 10.339-6.249 1.46-12.513 2.859-18.74 4.412-2.64.66-6.51.953-6 4.542.474 3.335 4.096 2.236 6.515 2.052 3.074-.235 6.13-.776 9.172-1.309 18.717-3.275 37.43-6.588 56.142-9.888 3.632-.492 6.873-2.92 10.765-2.148M849.965 404.84c-5.045-1.198-10.11-1.911-15.28-1.98-14.632-.197-29.262-.563-43.89-.86-12.116.734-24.231 1.562-36.353.1-1.98 1.623-4.133 1.133-6.273.673-2.03.264-4.078.465-6.108.807-2.419.409-6.049-.357-6.061 3.655-.014 5.26 4.134 3.173 6.52 3.252 12.097.405 24.202.489 36.305.687 4.281-.264 8.598-1.251 12.765.826 4.918-1.68 9.838-1.04 14.756-.005 3.316-.124 6.633-.361 9.95-.35 11.044.03 22.092.888 33.125-.326 2.064-.227 4.554-.333 4.579-3.427.022-2.601-2.262-2.631-4.035-3.052"/>
							<path fill="#DB1F29" id="shape5" d="M238.07 340.937c-1.26-.312-2.582-.37-3.874-.546-46.174-6.238-92.57-7.447-139.048-5.604-13.622.54-27.81-1.51-40.484 6.01-14.305 11.374-9.204 18.494 3.048 25.224 3.991 2.191 8.269 2.704 12.792 2.887 15.681.636 31.19-2.257 46.84-1.992 23.323-2.63 46.671-5.046 69.961-7.957 17.065-2.133 34.08-4.726 50.804-8.944 2.74-.691 5.11-1.386 4.875-4.907-.209-3.097-2.63-3.604-4.915-4.17M458.807 271.476c-20.424-3.781-40.852-7.57-61.36-10.798-4.457-.7-11.827-2.252-12.423 4.28-.476 5.228 6.342 6.858 11.26 7.86 15.325 3.123 30.81 4.674 46.405 5.168 5.195 0 10.389.028 15.58-.014 2.282-.018 5.435.544 5.715-2.64.274-3.12-3.12-3.475-5.177-3.856M64.113 215.03c1.353 1.186 2.686 2.433 4.194 3.409 13.578 8.774 28.586 14.428 44 19.191 2.566.794 4.725.382 6.064-1.936 1.718-2.977-.402-5.024-2.528-6.382-7.18-4.588-14.387-9.178-21.881-13.24-8.168-4.425-16.57-8.511-25.58-9.974-2.917.014-5.797-.866-7.044 2.39-1.137 2.968.798 4.805 2.775 6.541M586.264 295.573c-2.051-.34-4.131-.496-6.202-.696-27.2-2.63-54.4-5.253-81.6-7.877-1.925 1.527-5.844-1.118-6.399 2.829-.62 4.428 3.46 3.98 5.861 4.895 2.4.914 5.022 1.238 7.567 1.7 13.731 2.497 27.884 1.626 41.438 5.576 8.306-.249 16.612-.498 24.92-.743 4.678-.14 9.36-.194 14.033-.451 1.546-.085 3.278-.617 3.106-2.775-.119-1.502-1.406-2.239-2.724-2.458M918.212 350.112c-12.206-4.124-24.847-4.883-37.56-5.112-2.842.067-5.687.213-8.531.188-43.01-.41-85.998-.064-128.826 4.704-2.373.265-6.212-.78-6.293 2.817-.092 4.025 3.943 3.436 6.587 3.587 18.1 1.033 36.203 2.062 54.315 2.83 26.635 1.127 53.279 2.036 79.917 3.04 13.548 2.264 26.754-.524 39.933-3.08 2.465-.48 6.434-.557 6.24-4.576-.15-3.11-3.34-3.572-5.782-4.398M697.784 258.749c-.47-.2-1.002-.279-1.515-.351-28.492-3.977-56.738-9.319-84.745-15.931-2.115-.501-4.5-1.168-5.309 1.415-1.014 3.223 1.76 3.865 4.05 4.414 28.737 6.903 57.658 12.804 87.37 16.68 1.901-.826 5.73 1.558 6.299-2.034.659-4.163-3.78-3.177-6.15-4.193M1196.573 424.072c-5.071-4.154-11.086-6.694-17.36-8.539-28.276-8.312-57.32-12.773-86.324-17.593-21.423-3.56-43.617-3.601-63.869-13.008-2.459-1.141-4.96-1.554-7.236.643-1.202 1.162-2.371 2.582-1.457 4.052 1.576 2.532 4.13 3.952 7.212 3.658 4.948-.474 9.86-.815 14.8.134 21.23 4.077 41.9 10.13 62.162 17.613 20.061 6.187 39.804 13.285 59.443 20.685 2.916.313 5.597 1.286 8.074 2.843 0-.001.152-.087.15-.087 6.553 1.643 12.968 4.016 19.916 3.439 3.674-.305 7.727-.3 9.387-4.245 1.975-4.699-2.005-7.228-4.898-9.595M1070.59 342.698c7.577.83 15.279.7 22.636 3.2l.136-.61s.602.007.6.009c2.572.264 5.141.609 7.721.773 11.117.701 22.232 1.582 33.36 1.923 5.692.173 10.95-2.673 10.957-8.945.008-6.276-5.186-8.735-10.934-8.98-2.07-.088-4.15-.092-6.22-.004-11.634.49-23.263 1.017-34.896 1.532l-4.809.143-2.947.12c-3.162.337-6.322.672-9.484 1.01l.12.446c-1.992 1.572-4.188 1.384-6.424.815-1.059.097-2.119.193-3.179.288-.895.057-1.79.115-2.68.174l-1.95.146c-.942.698-1.895.703-2.855.045-2.59.068-5.185.136-7.778.206l-1.883.108c-13.188 1.33-26.352.979-39.514-.439-2.206-.238-5.388-.936-5.56 2.47-.188 3.746 3.063 2.764 5.226 2.622 20.228-1.338 40.319.191 60.357 2.948M1043.097 295.746c10.854 1.22 21.26-2.308 31.95-3.103 23.733-1.766 47.415-4.316 71.084-6.876 5.542-.6 11.004-2.253 16.162-4.67 1.998-.938 3.78-2.01 3.705-4.357-.088-2.733-2.513-2.825-4.489-3.253-3.829-.832-7.635-.475-11.455.155-14.62 2.406-29.248 4.765-43.872 7.142l-3.207.246-6.166 1.57c-15.43 3.535-31 6.205-46.742 7.9-3.177.343-7.793-.668-6.97 5.246M1076.691 221.667c8.804-1.695 17.608-3.379 26.412-5.065 2.03-1.783 4.635-2.133 7.051-3.029 7.237-2.682 14.914-4.493 21.023-9.622 2.15-1.805 4.801-3.84 3.46-7.16-1.333-3.302-4.56-2.826-7.397-2.683-6.34.32-11.814 3.588-17.739 5.32-.547.12-1.094.241-1.642.36-1.3 1.196-2.703 2.14-4.59 1.89-9.523 4.424-19.066 8.806-28.556 13.306-2.032.964-4.648 2.015-3.38 5.11 1.018 2.484 3.29 1.97 5.358 1.573"/>
							<g transform="translate(1249)">
									<mask id="d" fill="#fff">
											<use xlink:href="#c"/>
									</mask>
									<path fill="#DB1F29" id="shape5" d="M22.24 16.865c-.914-1.676-2.9-2.864-2.41-5.178-1.169-.464-1.77-1.31-1.782-2.56l.003.35-4.734-4.965C10.302 3.437 8.29.082 4.518.725 1.18 2.459.068 5.375 1.485 8.559c1.748 3.917 4.14 7.567 6.385 11.255 11.324 18.612 17.966 38.12 15.001 60.448-.633 4.774-4.058 8.805-2.892 13.867.566 2.452 1.3 4.672 3.83 5.274 2.845.675 4.212-1.303 5.074-3.736 1.994-5.628 3.863-11.252 4.853-17.192 3.647-21.938-1.61-42.178-11.497-61.61" mask="url(#d)"/>
							</g>
							<path fill="#01A0BC" id="shape6" d="M621.834 405.136c-32.57 4.327-65.471 4.045-98.12 7.148-19.539 1.859-39.087 4.249-57.427 12.15-7.64 3.29-8.232 6.768-2.238 12.37.502-.041.97.07 1.402.332 8.272 1.278 16.552.974 24.837.15 6.171-.274 12.434.048 18.498-.92 26.175-4.179 52.2-9.439 78.463-12.874 14.21-1.858 28.563-4.706 43.093-2.898 4.547.566 8.92.344 11.908-3.723 3.411-4.637 1.222-8.904-1.365-13.02-6.525-2.19-12.712.443-19.05 1.285M302.05 274.23c-1.474-.476-3.028-.708-4.55-1.03-21.316-4.496-42.6-9.142-63.954-13.441-23.369-4.705-46.307-11.623-70.224-13.557-3.825-.308-7.676-.867-9.029 3.633-1.377 4.588 2.363 6.429 5.68 7.986 4.455 2.093 8.922 4.285 13.593 5.776 41.32 13.2 84.093 17.92 127.684 21.383 2.864.078 6.697.143 7.587-4.084 1.078-5.126-3.413-5.58-6.788-6.667M476.562 255.588A458.083 458.083 0 0 0 395.48 233c-4.613.44-9.336.403-13.811 1.429-6.942 1.593-7.289 3.446-2.239 8.251 7.59 7.218 17.204 9.797 27.114 12.085 15.343 3.543 31.058 4.516 46.51 7.233C463.526 262 473.996 262 485 262c-1.701-5.211-5.543-5.31-8.438-6.412M742.108 330.476a16.755 16.755 0 0 0-3.06-.449c-21.61-1.278-43.177-3.425-64.87-2.963-6.278.133-12.259 1.66-18.28 3.022-2.66.603-5.953 1.555-5.897 5.28.057 3.797 3.492 4.324 6.13 4.986 4.482 1.123 9.073 1.787 13.615 2.648 5.588-.005 11.173-.013 16.76-.02 3.316-.319 6.628-.883 9.948-.915 15.225-.144 30.401-.919 45.492-3.104 2.877-.415 6.19-.62 6.05-4.56-.123-3.484-3.47-3.32-5.888-3.925M650.859 239.805c.837-3.207-2.236-3.739-4.315-4.253-9.7-2.396-19.453-4.575-29.186-6.832-1.743.216-3.313-.155-4.643-1.344l-15.466-3.468-3.138-1.168c-9.234-1.845-18.463-3.7-27.698-5.53-2.116-.42-4.412-.403-5.222 1.896-.904 2.568 1.6 3.247 3.236 4.397 1.69 1.188 4.843.79 4.688 4.075l.014.038c3.386-2.036 6.435.008 9.503.903 21.739 6.331 43.871 10.658 66.376 13.142 2.225.246 5.048 1.213 5.85-1.856M744.405 284.135c-5.5-.304-11.034-.029-16.546.182-2.159.083-4.46.824-4.816 3.49-.388 2.897 1.918 3.8 4.003 4.256 4.106.894 8.257 1.545 10.317 1.919 3.716 0 5.295.047 6.872-.01 2.99-.113 6.445-.458 6.743-4.29.347-4.468-3.487-5.377-6.573-5.547M1288.437 331.903c-26.748-2.34-53.423.53-80.127 1.181-7.165.176-14.307 1.315-21.464 1.989-3.578.337-6.935 1.25-6.844 5.61.07 3.466 2.19 4.936 5.895 5.684 5.077 1.022 10.138.947 15.2 1.402 16.226 1.737 32.368 4.4 48.759 4.345 3.33-.01 6.637.426 9.728 1.843 9.514.004 19.028.114 28.537-.034 7.72-.12 14.806-5.415 14.878-10.792.07-5.302-6.84-10.553-14.562-11.228M991.955 299.101c-.859-1.03-1.72-2.066-2.582-3.101l-10.99.323-4.391.224-12.907.435c-.888 1.013-1.862 1.259-2.963.383-5.208.813-10.369 2.194-15.705 1.493-1.044.011-2.087.023-3.13.036l-7.619.314c-1.516 1.015-3.161 1.2-4.89.85-2.624.26-5.247.52-7.872.782-3.596.388-7.199.721-10.788 1.18-1.672.214-2.924 1.17-3.1 3.103-.17 1.906.842 3.367 2.4 3.79 2.229.605 4.583.85 6.896.947 13.01.537 25.961-.564 38.907-1.758 6.806-.388 13.613-.778 20.419-1.164 1.066-.415 2.131-.83 3.197-1.242 5.136-1.644 11.46.283 15.163-5.674a.923.923 0 0 1-.045-.92M1225.605 265.675l30.09-8.063c0-.002.523-.219.524-.219l.781-2.781a2.597 2.597 0 0 1-1.42-.57l-4.683-.042c-21.632 4.589-43.973 5.773-64.897 13.884 13.548 2.89 26.513-.555 39.605-2.21M1207.016 180.127c2.006-2.158 4.204-4.44 2.18-7.452-1.936-2.88-4.7-1.418-6.985-.244-8.503 4.367-17.138 8.532-25.364 13.373-21.522 12.665-44.047 23.186-67.333 32.165a1.671 1.671 0 0 1-1.107.738c-1.775 1.68-3.547 3.546-1.468 5.95 2.197 2.543 4.914.825 7.258.103 29.184-8.97 56.979-21.044 83.042-36.962 3.568-2.18 6.916-4.6 9.777-7.671"/>
							<path fill="#D6EED2" id="shape7" d="M222.517 181.128c-1.662-1.24-3.472-2.283-5.22-3.41-28.64-18.464-57.86-36.06-85.034-56.733-10.781-8.202-21.451-16.519-34.188-21.567-2.66-1.056-5.497-2.567-7.971-.023-2.333 2.396-.392 4.872.581 7.216 4.75 11.425 12.822 20.137 22.441 27.556 19.664 15.168 40.884 27.702 63.503 37.888 13.995 6.3 28.3 11.718 42.796 15.77 2.127.202 4.055.617 5.12-1.456 1.257-2.439-.313-3.964-2.028-5.241M362.954 376.198c-.773.101-1.558.116-2.336.187-37.086 3.374-73.921 8.44-110.476 15.435-5.162.988-10.177 2.543-14.298 5.733-4.598 3.561-3.434 8.733 2.143 10.36 2.219.647 4.598.76 6.707 1.087 3.353-.4 6.484-.6 9.546-1.163 27.097-4.977 54.189-9.987 81.268-15.055 9.705-1.816 19.354-3.923 29.07-5.68 3.897-.705 7.797-1.903 7.393-6.21-.463-4.934-4.817-5.244-9.017-4.694M394 279.972c-43.672-14.169-89.053-18.93-134-25.972 43.652 13.983 87.552 26.672 134 25.972M698.582 349c-7.278.116-14.557.166-21.832.36-23.653.634-47.344.633-70.865 3.645-2.758.355-7.282-.179-6.857 4.47.403 4.41 4.614 3.401 7.532 3.47 16.933.395 33.785-1.454 50.678-1.987 14.163-.447 28.278-3.494 42.513-1.162.245-3.017 3.307-6.414-1.17-8.796M558.625 335.28c-9.551-1.474-19.207-1.39-28.844-1.128-8.846 0-17.708-.308-26.527.17-3.012.164-7.536.999-7.24 5.329.277 4.047 4.548 4.192 7.736 5.035.738.196 1.552.154 2.331.18 17.49.584 34.878-.825 52.248-2.547 2.607-.259 5.704-.592 5.67-3.91-.032-3.127-3.216-2.796-5.374-3.129M850.53 264.59c-6.71-.34-13.423-.6-20.135-.893-20.525-.56-41.049-1.15-61.576-1.655-4.415-.109-8.84.007-13.253.19-2.35.097-5.179.391-5.531 3.318-.377 3.106 2.398 3.477 4.697 4.218 5.3 1.709 10.743 1.99 16.207 2.018 22.87.113 45.741.15 68.611.214 3.852-.38 7.716-.66 11.549-1.187 1.794-.248 3.826-.97 3.898-3.183.1-3.064-2.434-2.938-4.467-3.04M1054.003 420.6l-2.668-1.465-.268-.073c-2.817.477-4.95-1.19-7.244-2.332-1.25-.195-2.505-.392-3.758-.59-10.237-1.426-20.637-1.612-30.728-4.121l-8.132-.524c-26.57-1.714-53.089-4.367-79.765-4.062-6.448.073-12.9-.277-19.35-.433l-4.414 1.007c-.226 1.042-.45 2.085-.676 3.124 1.932 1.92 4.393 2.609 6.985 2.936 14.29 1.8 28.58 3.587 42.87 5.378 21.546 2.767 43.066 5.785 64.651 8.203 13.09 1.468 26.113 4.392 39.423 2.974 3.06-.326 6.789-.417 7.872-3.818 1.13-3.555-2.833-4.372-4.798-6.204M1079.323 299.728l-.49.093c-14.492 1.51-28.984 3.017-43.47 4.526-1.78.171-3.559.342-5.337.515-11.219 1.462-22.44 2.922-33.656 4.382-2.204.868-4.468.975-6.774.522-2.017.674-4.035 1.345-6.05 2.018-.86 1.733-.614 3.441.112 5.137 22.421.276 44.824-.153 67.206-1.598l1.507-.188c14.036-1.492 28.075-2.982 42.109-4.472 2.704-.344 5.41-.687 8.115-1.033 1.334-.392 2.67-.787 4.002-1.181l.246-.044c3.216-.783 6.433-1.562 9.65-2.343 2.882-2.024 10.705-.23 6.073-8.062-14.433.117-28.864.331-43.243 1.728M953.817 256.431c-1.594.623-2.036 2.3-1.723 4.027.364 1.996 1.942 2.298 3.522 2.442 17.396 1.6 34.767 3 50.389-7.607 1.347-2.566 1.446-5.055-.446-7.418-18.564-5.443-35.085 2.057-51.742 8.556M1271.656 194.007c-1.467-5.037-7.254-3.602-11.516-3.949-5.378-.438-10.056 1.666-14.788 3.769-8.311 3.69-16.67 7.27-25.01 10.896-.836.554-1.609 1.263-2.515 1.644-29.618 12.421-58.692 26.235-89.51 35.585-.966.67-1.344 2.482-3.097 1.62-.733 2.561-5.72 3.104-3.771 6.592 1.715 3.07 5.175 1.42 7.887 1.174 21.503-1.947 42.45-6.75 63.003-13.206 15.437-4.85 30.683-10.319 46.013-15.511.001-.002.1-.068.1-.068.336-.906.876-1.369 1.858-.882 9.094-3.73 18.21-7.468 25.555-14.316 3.828-3.57 7.25-8.327 5.79-13.348"/>
					</g>
				</svg>

				<div class="border-play" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
					<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/85eNP8vmcJw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe> -->
					<iframe src='//mdstrm.com/live-stream/58d18bd236e5f69e5887332b?player=59cbaafa9982c7d661cba241' width='640' height='360' allow='autoplay; fullscreen' frameborder='0' allowfullscreen allowscriptaccess='always' scrolling='no'></iframe>
					<!-- <iframe src='//mdstrm.com/live-stream/58d18bd236e5f69e5887332b?player=59cbaafa9982c7d661cba241' width='640' height='360' allow='autoplay; fullscreen' frameborder='0' allowfullscreen allowscriptaccess='always' scrolling='no' autoplay=true></iframe> -->
					<!-- v-html="video" -->
					<!-- <iframe src='//mdstrm.com/live-stream/58d18bd236e5f69e5887332b?player=59cbaafa9982c7d661cba241' width='640' height='360' allow='autoplay; fullscreen' frameborder='0' allowfullscreen allowscriptaccess='always' scrolling='no' autoplay=true></iframe> -->
				</div>
			</div>
		</div>
	</div>
</template>
<script src="../video/video.js"></script>
<style src="../video/video.sass" lang="sass"></style>
