@import "../../../../node_modules/slick-carousel/slick/slick.scss"
@import '../../../../node_modules/breakpoint-sass/stylesheets/breakpoint'
@import "../../../assets/css/basic.sass"

$phone: max-width 767px
$phone5: max-width 320px
$font-family: 'OpenSans'
$dusha: 'Dusha-Regular', sans-serif
$rubikl: 'Rubik-Light', sans-serif
$rubik: 'Rubik-Regular', sans-serif
$f-branding-bold: 'Branding-Bold', sans-serif
$f-branding-semiBold: 'Branding-Semibold', sans-serif
$font-Ubuntu-b: 'Ubuntu-Bold', sans-serif
$font-Ubuntu-m: 'Ubuntu-Medium', sans-serif
$font-Ubuntu-r: 'Ubuntu-Regular', sans-serif
$font-Ubuntu-l: 'Ubuntu-Light', sans-serif

body
  margin: 0
  padding: 0
  .parrilla
    +breakpoint($phone)
      padding-top: 0
    .blocks-block-75
      background-color: $white
      position: relative
      text-align: center
      margin-bottom: 10px
      max-width: 100%
      margin: 0 auto
      display: flex
      justify-content: center
      style
        display: none
      @media #{$breakpoint-md}
        display: inline-flex
        margin: 0
        padding: 8px 0
      .field-name-field-background,
      .field-name-field-imagen-patrocinador-mobile
        position: absolute
        top: 0
      .field-name-field-imagen-patrocinador-mobile
        display: none
      .field-name-field-background
        height: 110px
      .group-wrapper
          width: 970px
          height: 60px
          display: inline-flex
          flex-wrap: wrap
          position: relative
          justify-content: space-between
          align-content: center
          align-items: center
          @media #{$breakpoint-md}
              width: 100%
              height: auto
          .group-top
              width: 16%
              height: 45px
              color: $white
              display: inline-flex
              align-items: center
              justify-content: center
              background-color: $green-program
              border-radius: 15px 0px 15px 0px
              @media #{$breakpoint-md}
                  width: 100%
                  height: 30px
                  margin: 0 5px
              .group-extra
                  width: 100%
                  background-size: 100% auto
                  display: inline-flex
                  flex-wrap: wrap
                  justify-content: center
                  align-items: center
                  flex-direction: column
                  @media #{$breakpoint-md}
                      flex-direction: row
                  .field-name-field-title-1
                      width: 100%
                      font-family: $f-branding-bold
                      font-weight:
                      font-size: rem-calc(16)
                      display: inline-flex
                      justify-content: center
                      align-items: center
                      letter-spacing: 0.5px
                      @media #{$breakpoint-md}
                          font-size: rem-calc(14)
                          width: auto
                      &:before
                          content: ''
                          width: 15px
                          height: 14px
                          display: block
                          background: url("https://gol.caracoltv.com/profiles/golcaracol_profile/themes/custom/golcaracol/images/rusia-2018/ico-programacion.png") center center no-repeat
                          //background: url("/profiles/golcaracol_profile/themes/custom/golcaracol/images/rusia-2018/ico-programacion.png") center center no-repeat
                          background-size: 100% auto
                          margin-right: 5px
                          @media #{$breakpoint-md}
                              width: 12px
                              height: 11px
                  .field-name-field-fecha,
                  .field-name-field-fecha-text
                      font-family: $font-Ubuntu-r
                      font-size: rem-calc(10)
                      padding: 0 0px 1px 17px
                      @media #{$breakpoint-md}
                          padding: 0
                          position: relative
                          display: inline-flex
                          font-size: rem-calc(13)
                          &:before
                              content: "-"
                              display: flex
                              font-family: $font-Ubuntu-m
                              margin: 0 2px
          .field-name-field-lista-de-partidos
              width: 83%
              display: inline-flex
              align-items: center
              .links
                &:nth-child(1)
                &:first-child
                  .taxonomy-term-reference-0
                    position: relative
                    &:after
                      content: ""
                      position: absolute
                      width: 1px
                      background: transparent
                      height: 100%
                      top: 0
                      left: 0
              @media #{$breakpoint-md}
                  width: 100%
                  margin: 0
                  justify-content: center
              & ul
                  width: 100%
                  display: inline-flex
                  flex-wrap: wrap
                  margin: 0
                  padding: 0
                  justify-content: space-between
                  &.field-collection-view-links
                      display: none
                  li
                      width: 50%
                      margin: 0
                      display: inline-flex
                      margin: 0
                      justify-content: space-between
                      position: relative
                      @media #{$breakpoint-md}
                          width: 100%
                          height: 45px
                          margin: 0 5px
                          &.taxonomy-term-reference-1
                              padding-top: 3px
                              border-top: 1px solid #9b9b9b
                      .view-mode-token
                          display: flex
                          width: 100%
                          .field-collection-container
                              width: 100%
                              margin-bottom: 0
                              border: none
                              display: inline-flex
                              align-items: center
                              // NEW
                              .field-name-field-partido
                                  display: flex
                                  width: 100%
                              .field-label
                                  display: none
                              .field-collection-view
                                  padding: 0
                                  margin: 0
                                  display: flex
                                  width: 100%
                                  .entity-field-collection-item
                                      width: 100%
                                      display: inline-flex
                                      float: none
                                      position: relative
                                      flex-direction: row-reverse
                                      justify-content: space-between
                                      padding: 0
                                      @media #{$breakpoint-md}
                                        align-items: center
                                      .field-collection-container
                                          display: inline-flex
                                          width: 70%
                                          flex-wrap: wrap
                                      .field-name-field-transmitiendo
                                          display: flex
                                          width: 115px
                                          align-items: center
                                          @media #{$breakpoint-md}
                                              width: 95px
                                              height: 15px
                                          a
                                              width: 100%
                                              font-size: rem-calc(10)
                                              font-family: $font-Ubuntu-m
                                              color: $white
                                              background-color: $red
                                              border: 1px solid $red
                                              text-decoration: none
                                              justify-content: center
                                              display: flex
                                              padding: 2px 0px
                                              border-radius: 3px
                                              position: relative
                                              animation: liveSignal 2s infinite
                                              @media #{$breakpoint-md}
                                                  font-size: rem-calc(9)
                                                  line-height: initial
                                                  -ms-flex-pack: start
                                                  justify-content: center
                                                  font-weight: bold
                                                  padding: 2px 0
                                              // &:before
                                              //     border-radius: 50px
                                              //     background-color: $white
                                              //     content: ""
                                              //     padding: 5px
                                              //     // height: 6px
                                              //     left: 4px
                                              //     position: absolute
                                              //     top: 4.7px
                                              //     // width: 6px
                                              //     @media #{$breakpoint-md}
                                              //         top: 3px
                                              //         left: 2px
                                              // &:after
                                              //   width: 6px
                                              //   height: 6px
                                              //   animation: centerC 2s infinite
                                              //   border-radius: 50px
                                              //   background-color: $white
                                              //   content: ""
                                              //   height: 6px
                                              //   left: 5px
                                              //   position: absolute
                                              //   top: 4px
                                              //   width: 6px
                                              //   @media #{$breakpoint-md}
                                              //     top: 3px
                                              //     left: 2px
                                      .group-live-time
                                          display: inline-flex
                                          width: 117px
                                          align-items: center
                                          flex-wrap: wrap
                                          @media #{$breakpoint-md}
                                              width: 95px
                                              justify-content: center
                                              flex-direction: column
                                          .field-name-field-ver-en-vivo,
                                          .group-time
                                              display: flex
                                              width: 100%
                                              align-items: center
                                              width: 100%
                                              border: 0.8px solid $red
                                              background-color: $white
                                              justify-content: flex-start
                                              border-radius: 3px
                                              margin-bottom: 3px
                                              @media #{$breakpoint-md}
                                                  height: 15px
                                                  justify-content: center
                                              a
                                                  display: flex
                                                  align-items: center
                                                  font-size: rem-calc(10)
                                                  position: relative
                                                  color: $red
                                                  font-family: $font-Ubuntu-m
                                                  text-decoration: none
                                                  text-transform: uppercase
                                                  padding: 2px
                                                  line-height: initial
                                                  @media #{$breakpoint-md}
                                                      font-size: rem-calc(9)
                                                      padding: 0
                                                      width: 100%
                                                      font-weight: bold
                                                      justify-content: center
                                                  &:before
                                                      content: ""
                                                      // width: 8px
                                                      // height: 8px
                                                      border-radius: 100%
                                                      background-color: $red
                                                      margin: 0 7px 0 3px
                                                      padding: 5px
                                                      @media #{$breakpoint-md}
                                                          display: none
                                          .group-time
                                              margin-bottom: 0
                                              @media #{$breakpoint-md}
                                                  padding: 0 0 0 2px
                                                  align-items: center
                                              &:before
                                                  content: ""
                                                  background: url("https://gol.caracoltv.com//profiles/golcaracol_profile/themes/custom/golcaracol/images/copa-america2019/clock.svg") no-repeat
                                                  //background: url("/profiles/golcaracol_profile/themes/custom/golcaracol/images/copa-america2019/clock.svg") center center no-repeat
                                                  // width: 10px
                                                  background-size: 100%
                                                  // height: 10px
                                                  width: 14px
                                                  height: 14px
                                                  margin: 0 2px 0 3px
                                                  @media #{$breakpoint-md}
                                                      display: none
                                              span
                                                  font-size: rem-calc(10)
                                                  color: $red
                                                  font-family: $font-Ubuntu-m
                                                  text-transform: uppercase
                                                  padding: 2px
                                                  line-height: initial
                                                  @media #{$breakpoint-md}
                                                      font-size: rem-calc(9)
                                                      padding: 2px 0
                                                      lline-height: initial
                                                      display: flex
                                                      align-items: center
                                                      font-weight: bold
                                      .field-name-field-equipo-resultado
                                          width: 100%
                                          display: inline-flex
                                          flex-wrap: wrap
                                          background-color: $white
                                          .field-label
                                              display: none
                                          .field-collection-view
                                              margin: 0
                                              padding: 0
                                              border: none
                                              display: flex
                                              width: 50%
                                              .field-collection-item-field-equipo-resultado
                                                  width: 100%
                                                  display: inline-flex
                                                  align-items: center
                                                  padding: 0
                                                  flex-direction: row
                                                  .field-name-field-pais-copa
                                                      width: 90%
                                                      display: inline-flex
                                                      .field-label
                                                          display: none
                                                      & ul
                                                          width: 100%
                                                          margin: 0
                                                          @media #{$breakpoint-md}
                                                              padding: 0 5px
                                                          li
                                                              width: 100%
                                                              display: inline-flex
                                                              margin: 0
                                                              @media #{$breakpoint-md}
                                                                  width: 100%
                                                              .view-mode-token
                                                                width: 100%
                                                                display: inline-flex
                                                                flex-wrap: wrap
                                                                flex-direction: row
                                                                justify-content: flex-end
                                                                align-items: center
                                                                justify-content: flex-end
                                                                @media #{$breakpoint-md}
                                                                    justify-content: space-around
                                                                .equipo-abr
                                                                    display: none
                                                                    +breakpoint($phone5)
                                                                        display: flex
                                                                        font-family: $font-Ubuntu-b
                                                                        font-size: rem-calc(15)
                                                                        margin: 0
                                                                        color: #000000
                                                                        font-weight: normal
                                                                .field-name-title
                                                                    padding: 0
                                                                    +breakpoint($phone5)
                                                                        display: none
                                                                    h3
                                                                        font-family: $font-Ubuntu-b
                                                                        font-size: rem-calc(13)
                                                                        margin: 0
                                                                        color: #000000
                                                                        font-weight: normal
                                                                        @media #{$breakpoint-md}
                                                                            font-size: rem-calc(11)
                                                                .field-name-field-logo
                                                                    display: flex
                                                                    align-items: center
                                                                    width: 26px
                                                                    margin: 0 5px
                                                                    img
                                                                        width: 100%
                                                                        height: auto
                                                                    @media #{$breakpoint-md}
                                                                        width: 22px
                                                                        margin: 0
                                                  .field-name-field-marcador
                                                      width: auto
                                                      margin: 0 5px
                                                      display: inline-flex
                                                      justify-content: center
                                                      font-family: $font-Ubuntu-b
                                                      font-size: rem-calc(14)
                                                      @media #{$breakpoint-md}
                                                          font-size: rem-calc(13)
                                          .field-collection-view-final
                                              .field-collection-item-field-equipo-resultado
                                                  flex-direction: row-reverse
                                                  .field-name-field-marcador
                                                      position: relative
                                                      &:before
                                                          content: "-"
                                                          display: flex
                                                          position: absolute
                                                          left: -7px
                                                          width: auto
                                                          font-family: $font-Ubuntu-b
                                                          font-size: rem-calc(14)
                                                          align-items: center
                                                          @media #{$breakpoint-md}
                                                              font-size: rem-calc(13)
                                                  .field-name-field-pais-copa
                                                      & ul
                                                          li
                                                              .view-mode-token
                                                                  flex-direction: row-reverse
                                      .field-name-field-link-url,
                                      .field-name-field-url-link
                                          width: 63%
                                          display: inline-flex
                                          justify-content: flex-start
                                          margin-top: 5px
                                          @media #{$breakpoint-md}
                                              width: 65%
                                          a
                                              line-height: normal
                                              font-size: 8px
                                              font-family: $font-Ubuntu-m
                                              color: #ffffff
                                              background-color: rgba(255, 255, 255, 0.2)
                                              border-radius: 2px
                                              border: solid 0.8px #ffffff
                                              text-transform: uppercase
                                              padding: 3px 5px 3px 15px
                                              position: relative
                                              &:before
                                                  width: 10px
                                                  height: 10px
                                                  content: ''
                                                  border-radius: 50px
                                                  background-color: #ea3949
                                                  content: ""
                                                  left: 3px
                                                  position: absolute
                                                  top: 3px
                                                  border: solid 0.6px #ffffff
                                      .field-name-field-url-link
                                          width: 100%
                                          a
                                              background-color: #c4161c
                                      .field-name-field-hora
                                          width: 37%
                                          display: inline-flex
                                          justify-content: flex-end
                                          align-items: center
                                          font-size: 10px
                                          color: #ffffff
                                          font-family: $font-Ubuntu-m
                                          margin-top: 5px
                                          .field-label
                                              width: 100%
.none
  display: none
