<template>
	<div class="content">
		<div class="parrilla" v-html="parrilla" v-bind="false">
			<iframe width="560" height="315" src='https://gol.caracoltv.com/render/blocks/109/full'></iframe>
			<h1> En Vivo Copa América Brasil 2019</h1>
		</div>
	</div>
</template>
<style src="../parrilla/parrilla.sass" lang="sass"></style>
<script src="../parrilla/parrilla.js"></script>
