@import "../../../assets/css/basic.sass"
.survey
  display: flex
  flex-wrap: wrap
  width: 100%
  justify-content: center
  max-width: 800px
  margin: 0 auto
  padding-bottom: 30px
  h1
    font-size: 0
  .iframe_content
    display: flex
    justify-content: center
    width: 100%
    flex-wrap: wrap
    background: #e2e2e2
    padding: 0 30px 30px
    .iframeDns
      color: $black
      text-align: center
      font-family: $font-family
      font-size: 10px
      margin: 0
    iframe
      // width: 100%
    @include mobile
      margin: 0
      iframe
        // width: 100%
        // height: 250px
  .ok
    width: 100%
    text-align: center
    font-size: 30px
    font-family: "Open Sans"
    color: rgb(134, 134, 134)
    font-weight: bold
    line-height: 1.3
    margin-top: -28px
  @include mobile
    background-color: white
    padding-bottom: 10px
    text-align: center

  h3
    font-size: 35px
    font-family: "Open Sans"
    color: rgb(175, 175, 175)
    font-weight: bold
    line-height: 1
    text-transform: uppercase
    margin: 0 0 20px
    @include mobile
      font-size: 24px
      padding: 0px 20px 24px
      margin-bottom: 0
      background-color: #ebf0f5


  .slug
    display: flex
    width: 100%
    color: $black
    font-size: rem-calc(9)
    justify-content: center
  .gpt-ad
    padding-bottom: 27px
    @include mobile
      padding-bottom: 10px
.iphone
  .survey
    .iframe_content
      iframe
        @include ios
          // width: 100%
          margin: 0 auto
          max-width: inherit
          min-height: inherit
          //height: 105px
        @include iosTb
          // width: 600px
          // height: 235px
          max-width: inherit
          min-height: inherit
          margin: 0 auto
  // .form
  //   padding: 32px 8px 0px 15px
  //   box-sizing: border-box
  //   background-color: white
  //   border-radius: 6px 6px 0 0
  //   .question
  //     font-size: 25px
  //     font-family: "Open Sans"
  //     color: rgb(110, 110, 110)
  //     line-height: 1.2
  //     text-align: center
  //     @include mobile
  //       font-size: 21px


  //   .options
  //     padding-top: 20px
  //     padding-bottom: 20px
  //     overflow: hidden
  //     .option
  //       float: left
  //       width: 48%
  //       @include mobile
  //         width: 100%
  //         height: 80px
  //       &:nth-child(even)
  //         float: right
  //       .img
  //         display: none
  //         vertical-align: middle
  //         img
  //           display: none
  //       .text
  //         display: inline-block
  //         vertical-align: middle
  //         font-size: 15px
  //         width: 100%
  //         input
  //           opacity: 0
  //           display: none

  //         input + label:before
  //           content: ""
  //           border-radius: 100%
  //           background-color: #fff
  //           border: 1px solid white
  //           width: 15px
  //           height: 15px
  //           display: inline-block
  //           box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3)
  //           position: relative
  //           top: 3px
  //           margin: 0 10px 0 0

  //         input:checked + label
  //           &:before
  //             background-color: #e00034
  //             border: 1px solid white
  //         label
  //           border: 1px solid #e6e6e6
  //           border-radius: 4px
  //           margin: 10px 0
  //           cursor: pointer
  //           transition: all 0.3s ease
  //           background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)
  //           display: block
  //           height: 60px
  //           padding: 16px 25px
  //           &:hover
  //             background: linear-gradient(#003565 0%, #003565 100%)
  //             color: $white
  // .submit
  //   .btn
  //     background-color: rgb(0, 52, 100)
  //     width: 630px
  //     height: 50px
  //     padding: 12px 0 0
  //     box-sizing: border-box
  //     z-index: 211
  //     text-align: center
  //     color: white
  //     border-radius: 0px 0px 6px 6px
  //     transition: all 0.3s ease
  //     @include mobile
  //       width: 90%
  //       margin: 0 auto
  //       border-radius: 6px

  //     &:hover
  //       background-color: rgb(2, 45, 85)

  //     @include font-bold()
  //     cursor: pointer
