<template>
  <div class="survey" v-if="enableSurvey">
    <h1> En Vivo Copa América Brasil 2019</h1>
    <div class="iframe_content">
      <p class="iframeDns">PUBLICIDAD</p>
      <iframe v-if="mobile == false" marginheight="0" marginwidth="0" scrolling="no" frameborder="0" height="90" width="728" :src="iframeDesk"></iframe>
      <iframe v-if="mobile == true" marginheight="0" marginwidth="0" scrolling="no" frameborder="0" height="250" width="300" :src="iframeMb"></iframe>
    </div>
  </div>
</template>
<script src="../survey/survey.js"></script>
<style src="../survey/survey.sass" lang="sass"></style>
