$medium-text: rem-calc(14)
$backGround-footer: #323232
$border-red: #be1419
$white: #ffffff
$font-family: "Open Sans"
$light-blue: #00aff0
$grayCopyright: #969696
$border-header: #e00034
$stroke-header-first: #00142c
$stroke-header-second: #264872
$color-title-article: #005bbb
$white-title: #fffefe
$backGround-subMenu: #003464
$tablet-width: 768px
$blue-title: #3b56a0
$black: #000000
$gray: #999999
$avenir: "Avenir"
$roboto: 'Roboto', sans-serif
$opacity-on-hover: 1 !default
$opacity-not-active: 0.25 !default
$opacity-default: 0.75 !default
$slick-font-family: "slick" !default
$slick-arrow-color: $gray !default
$slick-dot-color: black !default
$slick-prev-character: "\1438" !default
$slick-next-character: "\1433" !default
$slick-dot-character: "\2022" !default
$icon: "Icon"
$iosWidth: 768px
$iosWidthTb: 980px
$blue-gallery: #005bbc
$color-border: #324e79
$main_colorRusia: #005ca4
$header-background: rgba(215, 215, 215, .06)
// base colors

$black: #000
$yellow: #f4cf0c
$silver: #ced0d1
$white: #fff
$red: #e82f33
$blue-nav: #00abec
$blue-background: #5d85c2
$violet-background: #7274bc
$blue-transparent: #c7d8fe
$blue-float: #4667b3
$yellow: #f4cf0c
$gray: #71777f
$beige: #f2f3f5
$gray-border: #edf0f2
$gray-header: #fcfcfc
$green-program: #63900a

$large_1: 1024px
$large_2: 1440px
$breakpoint-md: "screen and (max-width: 768px)"
$iphone5: 320px
//Fonts.


@import url('https://fonts.googleapis.com/css?family=Roboto')


body
  #main
    background-image: url(/src/assets/images/bg-copa-2019.png)
    background-size: 100%
@mixin font-light()
  font:
    family: $font-family
    weight: 200

@function toMVW($target)
  $vw-context: (320 * 0.01) * 1
  @return($target / $vw-context) * 1vw

@function toVW($target)
  $vw-context: (2560 * 0.01) * 1
  @return($target / $vw-context) * 1vw

@mixin mobile
  @media (max-width: $tablet-width)
    @content

@mixin large
  @media (min-width:$large_1) and (max-width:$large_2)
    @content

@mixin ios
  @media (max-width: $tablet-width)
    @content

@mixin iosTb
  @media (min-width:$iosWidth) and (max-width:$iosWidthTb)
    @content

@mixin font-regular()
  font:
    family: $font-family
    weight: 400


@mixin font-semibold()
  font:
    family: $font-family
    weight: 600


@mixin font-bold()
  font:
    family: $font-family
    weight: 700


@mixin font-extrabold()
  font:
    family: $font-family
    weight: 800


@mixin icons_blocks()
  .article,
  .video,
  .gallery
    position: absolute
    top: 0
    right: 0
    background-image: url("/src/assets/images/sprite.png")
    background-color: $color-title-article
    background-repeat: no-repeat
    background-position: -49px -56px
    width: 35px
    height: 20px
    min-height: 20px
    color: $white
    font-size: 12px
    @include font-regular()
    text-align: right
    padding-right: 4px
    line-height: 1.58

  .article,
  .gallery
    width: 35px
    background-position: -49px -25px

  .article
    background-position: -55px -177px


@mixin icons_box_top()
  color: transparent
  position: absolute
  width: 80px
  display: block
  cursor: pointer
  left: 0
  right: 0
  height: 66px
  top: 0
  bottom: 0
  margin: auto
  content: ""


/*** propiedades similares bloques ***/
@mixin block-init()
  display: inline-block
  vertical-align: top
  position: relative
  @include mobile
    width: 100%

  @include icons_blocks()
  .content_wrapper
    position: relative
    text-align: left
    height: 90px
    background-color: $backGround-subMenu
    padding: 4px 8px
    overflow: hidden
    line-height: 1

    .field-name-created-formatted,
    .content_date
      @include font-regular()
      font-size: rem-calc(11)
      color: $white
      text-transform: uppercase
      display: inline-block
      text-align: left

    .field-name-field-torneo,
    .content_section
      display: inline-block
      font-weight: 600
      font-size: rem-calc(11)
      color: $white
      text-transform: uppercase

    .field-name-title h2,
    h2.content_title
      font-size: rem-calc(16)
      margin-top: 4px
      line-height: 20px
      color: $white
      font-weight: normal
      @include mobile
        font-size: rem-calc(16)

      a
        @include font-regular()
        line-height: 20px
        font-weight: 600
        &:hover
          color: $white





@mixin red_load_more
  background-color: $border-header
  width: 100%
  display: block
  padding: 17px 5px
  font-size: 16px
  @include mobile
    margin: 20px auto
    width: 90%
    border-radius: 8px
    font-size: 13px

  @include font-regular
  color: $white
  text-transform: uppercase
  line-height: 1
  text-align: center
  margin-top: 2px
  cursor: pointer
  transition: background-color 0.3s ease
  &.progress-disabled:before
    content: ''
    background: url("/src/assets/images/loader-white.gif")
    background-size: 100% 100%
    width: 22px
    height: 22px
    display: inline-block
    margin-top: -8px
    top: 5px
    position: relative
    margin-right: 9px

  &:hover
    background-color: $border-header * 0.9

@function rem-calc($size)
  @return ($size / 16) + 0em

@keyframes liveSignal
  0%
    box-shadow: 0 0 0 0 rgba(232,47,51,1)
  70%
    box-shadow: 0 0 0 8px rgba(218,0,0,0)
  100%
    box-shadow: 0 0 0 0px rgba(218,0,0,0)

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans-Bold.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans-Bold.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans-Light.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans-Light.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans-Semibold.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans-Semibold.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans-Semibold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans-Extrabold.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans-Extrabold.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans-Extrabold.ttf') format('truetype')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'open_sansextrabold'
  src: url('/src/assets/fonts/Opensans/open_sansextrabold.eot')
  src: url('/src/assets/fonts/Opensans/open_sansextrabold.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/open_sansextrabold.woff') format('woff'),url('/src/assets/fonts/Opensans/open_sansextrabold.ttf') format('truetype')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'open_sanslight'
  src: url('/src/assets/fonts/Opensans/open_sanslight.eot')
  src: url('/src/assets/fonts/Opensans/open_sanslight.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/open_sanslight.woff') format('woff'),url('/src/assets/fonts/Opensans/open_sanslight.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'open_sansbold'
  src: url('/src/assets/fonts/Opensans/open_sansbold.eot')
  src: url('/src/assets/fonts/Opensans/open_sansbold.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/open_sansbold.woff') format('woff'),url('/src/assets/fonts/Opensans/open_sansbold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'open_sanssemibold'
  src: url('/src/assets/fonts/Opensans/open_sanssemibold.eot')
  src: url('/src/assets/fonts/Opensans/open_sanssemibold.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/open_sanssemibold.woff') format('woff'),url('/src/assets/fonts/Opensans/open_sanssemibold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'open_sansregular'
  src: url('/src/assets/fonts/Opensans/open_sansregular.eot')
  src: url('/src/assets/fonts/Opensans/open_sansregular.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/open_sansregular.woff') format('woff'),url('/src/assets/fonts/Opensans/open_sansregular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans_1.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans_1.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans_1.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans_1.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans-Semibold_1.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans-Semibold_1.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans-Semibold_1.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans-Semibold_1.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans-Extrabold_1.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans-Extrabold_1.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans-Extrabold_1.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans-Extrabold_1.ttf') format('truetype')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans-Light_1.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans-Light_1.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans-Light_1.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans-Light_1.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('/src/assets/fonts/Opensans/OpenSans-Bold_1.eot')
  src: url('/src/assets/fonts/Opensans/OpenSans-Bold_1.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Opensans/OpenSans-Bold_1.woff') format('woff'),url('/src/assets/fonts/Opensans/OpenSans-Bold_1.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: "slick"
  src: url("/src/assets/fonts/Slick/slick.eot")
  src: url("/src/assets/fonts/Slick/slick.eot?#iefix") format("embedded-opentype"),url("/src/assets/fonts/Slick/slick.woff") format("woff"),url("/src/assets/fonts/Slick/slick.ttf") format("truetype"),url("/src/assets/fonts/Slick/slick.svg#slick") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Icon"
  src: url("/src/assets/fonts/IconMoon/icomoon.eot")
  src: url("/src/assets/fonts/IconMoon/icomoon.eot?#iefix") format("embedded-opentype"),url("/src/assets/fonts/IconMoon/icomoon.woff") format("woff"),url("/src/assets/fonts/IconMoon/icomoon.ttf") format("truetype"),url("/src/assets/fonts/IconMoon/icomoon.svg") format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: "GeoI"
  src: url("/src/assets/fonts/Geo/GEO415KI.eot")
  src: url("/src/assets/fonts/Geo/GEO415KI.eot?#iefix") format("embedded-opentype"),url("/src/assets/fonts/Geo/GEO415KI.woff") format("woff"),url("/src/assets/fonts/Geo/GEO415KI.TTF") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Dusha-Regular'
  src: url('/src/assets/fonts/Dusha/Dusha-Regular.eot')
  src: url('/src/assets/fonts/Dusha/Dusha-Regular.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Dusha/Dusha-Regular.woff2') format('woff2'),url('/src/assets/fonts/Dusha/Dusha-Regular.woff') format('woff'),url('/src/assets/fonts/Dusha/Dusha-Regular.ttf') format('truetype'),url('/src/assets/fonts/Dusha/Dusha-Regular.svg#Dusha-Regular') format('svg')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Rubik-Regular'
  src: url('/src/assets/fonts/Rubik/Rubik-Regular.eot')
  src: url('/src/assets/fonts/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Rubik/Rubik-Regular.woff2') format('woff2'),url('/src/assets/fonts/Rubik/Rubik-Regular.woff') format('woff'), url('/src/assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype'), url('/src/assets/fonts/Rubik/Rubik-Regular.svg') format('svg')
  font-style: normal
@font-face
  font-family: 'Rubik-Light'
  src: url('/src/assets/fonts/Rubik/Rubik-Light.eot')
  src: url('/src/assets/fonts/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),url('/src/assets/fonts/Rubik/Rubik-Light.woff2') format('woff2'),url('/src/assets/fonts/Rubik/Rubik-Light.woff') format('woff'), url('/src/assets/fonts/Rubik/Rubik-Light.ttf') format('truetype'), url('/src/assets/fonts/Rubik/Rubik-Light.svg') format('svg')
  font-style: normal

@font-face
  font-family: 'Branding-Bold'
  src: url('/src/assets/fonts/branding/Branding-Bold.eot')
  src: url('/src/assets/fonts/branding/Branding-Bold.eot?#iefix') format('embedded-opentype'), url('/src/assets/fonts/branding/Branding-Bold.svg#Branding-Bold') format('svg'), url('/src/assets/fonts/branding/Branding-Bold.ttf') format('truetype'), url('/src/assets/fonts/branding/Branding-Bold.woff') format('woff'), url('/src/assets/fonts/branding/Branding-Bold.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Branding-Semibold'
  src: url('/src/assets/fonts/branding/Branding-Semibold.eot')
  src: url('/src/assets/fonts/branding/Branding-Semibold.eot?#iefix') format('embedded-opentype'), url('/src/assets/fonts/branding/Branding-Semibold.svg#Branding-Semibold') format('svg'), url('/src/assets/fonts/branding/Branding-Semibold.ttf') format('truetype'), url('/src/assets/fonts/branding/Branding-Semibold.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Branding-Light'
  src: url('/src/assets/fonts/branding/Branding-Light.eot')
  src: url('/src/assets/fonts/branding/Branding-Light.eot?#iefix') format('embedded-opentype'), url('/src/assets/fonts/branding/Branding-Light.svg#Branding-Light') format('svg'), url('/src/assets/fonts/branding/Branding-Light.ttf') format('truetype'), url('/src/assets/fonts/branding/Branding-Light.woff') format('woff'), url('/src/assets/fonts/branding/Branding-Light.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Branding-Medium'
  src: url('/src/assets/fonts/branding/Branding-Medium.eot')
  src: url('/src/assets/fonts/branding/Branding-Medium.eot?#iefix') format('embedded-opentype'), url('/src/assets/fonts/branding/Branding-Medium.svg#Branding-Medium') format('svg'), url('/src/assets/fonts/branding/Branding-Medium.ttf') format('truetype'), url('/src/assets/fonts/branding/Branding-Medium.woff') format('woff'), url('/src/assets/fonts/branding/Branding-Medium.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Ubuntu-Bold'
  src: url('/src/assets/fonts/ubuntu/Ubuntu-Bold.eot')
  src: url('/src/assets/fonts/ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'), url('/src/assets/fonts/ubuntu/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg'), url('/src/assets/fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype'), url('/src/assets/fonts/ubuntu/Ubuntu-Bold.woff') format('woff'), url('/src/assets/fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Ubuntu-Medium'
  src: url('/src/assets/fonts/ubuntu/Ubuntu-Medium.eot')
  src: url('/src/assets/fonts/ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'), url('/src/assets/fonts/ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg'), url('/src/assets/fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype'), url('/src/assets/fonts/ubuntu/Ubuntu-Medium.woff') format('woff'), url('/src/assets/fonts/ubuntu/Ubuntu-Medium.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Ubuntu-Regular'
  src: url('/src/assets/fonts/ubuntu/Ubuntu-Regular.eot')
  src: url('/src/assets/fonts/ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'), url('/src/assets/fonts/ubuntu/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg'), url('/src/assets/fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype'), url('/src/assets/fonts/ubuntu/Ubuntu-Regular.woff') format('woff'), url('/src/assets/fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Ubuntu-Light'
  src: url('/src/assets/fonts/ubuntu/Ubuntu-Light.eot')
  src: url('/src/assets/fonts/ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'), url('/src/assets/fonts/ubuntu/Ubuntu-Light.svg#Ubuntu-Light') format('svg'), url('/src/assets/fonts/ubuntu/Ubuntu-Light.ttf') format('truetype'), url('/src/assets/fonts/ubuntu/Ubuntu-Light.woff') format('woff'), url('/src/assets/fonts/ubuntu/Ubuntu-Light.woff2') format('woff2')
  font-weight: normal
  font-style: normal
