<template>
    <header id="header">
        <div class="header-first">
            <div class="row">
                <div class="content-header">
                    <section class="block block-block block-block-47 contextual-links-region block-block-97 header">
                        <div class="group-contenido field-group-div content">
                            <div class="group-logo-gol field-group-div">
                                <div class="group-wrapper2 field-group-div">
                                    <h3><span></span></h3>
                                </div>
                                <div class="bloque-1">
                                    <div class="group-contenido field-group-div content">
                                        <div class="field field-name-field-logo field-type-image field-label-hidden field-wrapper"><img src="/src/assets/images/copaBrasil2019.png"></div>
                                        <div class="field field-name-field-url-link field-type-link-field field-label-hidden field-wrapper1"><a href="https://gol.caracoltv.com" target="_blank">home mundial </a></div>
                                        <div class="field field-name-field-link-url field-type-link-field field-label-hidden field-wrapper2"><a href="https://gol.caracoltv.com/copa-america" target="_blank">Home</a></div>
                                    </div>
                                </div>
                                <!-- <div class="field field-name-field-logo field-type-image field-label-hidden field-wrapper"><img src="https://dev.gol.caracoltv.com/sites/default/files/logo-gol-13x.png" width="219" height="96" alt=""><a href="https://gol.caracoltv.com">home mundial </a></div> -->
                            </div>
                        </div>
                    </section>
                    <section class="block block-icck-social-networks contextual-links-region block-icck-social-networks-sn-general-links-header header">
                        <div class="social-network twitt-children">
                            <div class="item-list">
                                <ul class="social-preset">
                                    <li class="item-link face first">
                                        <a href="https://www.facebook.com/GolCaracol" class="simple_link" target="_blank"></a>
                                        <div class="item-list">
                                            <ul class="item-link face">
                                                <li class="item-facebbok face-children first last">
                                                    <div class="fb-like fb_iframe_widget" data-href="https://dev.gol.caracoltv.com/" data-width="450" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=https%3A%2F%2Fdev.gol.caracoltv.com%2F&amp;layout=standard&amp;locale=es_LA&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;width=450"><span style="vertical-align: bottom; width: 450px; height: 20px;"><iframe name="f10700d0e936278" width="450px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fm5nTkygCewO.js%3Fversion%3D44%23cb%3Df225d1889f952ac%26domain%3Ddev.gol.caracoltv.com%26origin%3Dhttps%253A%252F%252Fdev.gol.caracoltv.com%252Ff3ecc891ed80178%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fdev.gol.caracoltv.com%2F&amp;layout=standard&amp;locale=es_LA&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;width=450" class="" style="border: none; visibility: visible; width: 450px; height: 20px;"></iframe></span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="item-link twitt">
                                        <a href="https://twitter.com/GolCaracol" class="simple_link" target="_blank"></a>
                                        <div class="item-list">
                                            <ul class="item-link twitt">
                                                <li class="item-twitter twitt-children first last">
                                                    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.2e9f365dae390394eb8d923cba8c5b11.es.html#dnt=false&amp;id=twitter-widget-0&amp;lang=es&amp;screen_name=GolCaracol&amp;show_count=false&amp;show_screen_name=false&amp;size=m&amp;time=1552665130224" style="position: static; visibility: visible; width: 64px; height: 20px;" data-screen-name="GolCaracol"></iframe>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="item-link insta">
                                        <a href="https://www.instagram.com/golcaracol" class="simple_link" target="_blank"></a>
                                    </li>
                                    <li class="item-link youtube last">
                                        <a href="https://www.youtube.com/channel/UCXXOzmyYvDtaijm5i303Tng?sub_confirmation=1" class="simple_link" target="_blank"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

      <div class="header-second" style="">
          <div class="row">
              <div class="column large-12">
                  <section class="block block-menu block-menu-menu-menu-mundial-de-rusia-2018 contextual-links-region block-menu-menu-copa-am-rica-2019">
                      <h2 class="block-title">Copa América 2019</h2>
                      <ul class="menu">
                          <li class="first leaf"><a href="https://gol.caracoltv.com/copa-america/noticias"  target="_blank" >Noticias</a></li>
                          <li class="leaf"><a href="https://gol.caracoltv.com/copa-america/seleccion-colombia"  target="_blank" >Selección Colombia </a></li>
                          <li class="leaf"><a href="https://gol.caracoltv.com/copa-america/calendario-copa-america-2019"  target="_blank" >Calendario</a></li>
                          <!-- <li class="leaf"><a href="/copa-mundial-fifa-rusia-2018/resultados-estadisticas " target="_blank" >Resultados y estadisticas</a></li> -->
                          <li class="leaf"><a href="https://gol.caracoltv.com/copa-america/la-torcida " target="_blank" >La torcida</a></li>
                          <li class="leaf"><a href="https://gol.caracoltv.com/copa-america/las-12-selecciones " target="_blank" >Las 12 selecciones</a></li>
                          <li class="leaf"><a href="https://gol.caracoltv.com/copa-america/aqui-brasil " target="_blank" >Aquí Brasil</a></li>
                          <!-- <li class="leaf"><a href="/copa-america/opinion " target="_blank" >Opinión</a></li>
                          <li class="last leaf"><a href="/copa-america/goles " target="_blank" >Celebra los goles</a></li> -->
                          <li class="leaf"><a href="https://armatuseleccioncopaamerica.gol.caracoltv.com/">Arma tu selección </a></li>
                          <li class="leaf"><a href="https://simuladorcopaamerica.gol.caracoltv.com/">Pronosticador</a></li>
                      </ul>
                  </section>
              </div>
          </div>
      </div>
  </header>
</template>
<style src="./header.sass" lang="sass"></style>
<script src="./header.js"></script>
