@import "../../assets/css/basic.sass"
.arrow, blockquote
  display: none



@keyframes menuHome
  to
    transform: translateY(0)
    opacity: 1

body
  color: #000
  cursor: auto
  font-family: "Open Sans"
  font-style: normal
  font-weight: normal
  line-height: 1.5
  margin: 0
  padding: 0
  position: relative
  @include mobile
    background-image: none

header#header
  .header-first
    background-image: url(/src/assets/images/bg-header-copaamerica.png)
    background-repeat: no-repeat
    background-size: cover
    max-width: none
    padding: 15px 30px
    @include mobile
      width: 100%
      height: 55px
      padding: 10px 15px
      display: flex!important
      align-items: center
      position: relative
      z-index: 100
    .row
      max-width: 1400px
      margin: auto
      width: 100%
      @include mobile
        max-width: 100%
        margin: 0
        width: 100%
    .content-header
      display: inline-flex
      width: 100%
      flex-wrap: wrap
      .block-block-47
        width: 70%
        display: flex
        @include mobile
          width: 100%
        .content
          display: flex
          align-items: center
          width: 70%
          justify-content: center
          margin: 0
          @include mobile
            position: relative
            width: 100%
          .group-logo-gol
            display: inline-flex
            width: 100%
            justify-content: flex-end
            @include mobile
              justify-content: space-between
              width: 100%
            .group-wrapper2
              display: inline-flex
              position: relative
              cursor: pointer
              width: 40px
              height: 30px
              h3,
              h3::after,
              h3::before
                position: absolute
                width: 40px
                height: 4px
                transition-timing-function: ease
                transition-duration: .15s
                transition-property: transform
                border-radius: 4px
                background-color: #fff
                height: 3px
                @include mobile
                  width: 30px
              h3
                &::before,
                &::after
                  display: block
                  content: ""
                &::before
                  top: -10px
                  transition: top 75ms ease .12s,opacity 75ms ease
                &::after
                  bottom: -10px
                  transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19)
                  top: auto
                  left: auto
                  transform: none
              &.active_click
                h3
                  transition-delay: .12s
                  transition-timing-function: cubic-bezier(.215,.61,.355,1)
                  transform: rotate(45deg)
                  &::before
                    top: 0
                    transition: top 75ms ease,opacity 75ms ease .12s
                    opacity: 0
                  &::after
                    bottom: 0
                    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s
                    transform: rotate(-90deg)
          .field
            // display: inline-flex
            // position: relative
            // width: 50%
            img
              width: auto
              height: 45px
              @include mobile
                width: 212px
                height: 35px
            a
              font-size: 0
              width: 100%
              position: absolute
              line-height: normal
              height: 100%
          .group-logo-copa
            display: table
            margin: auto
            .field
              width: 100%
              @include mobile
                align-items: center
                width: 100%
            @include mobile
              position: absolute
              top: 50%
              left: 50%
              transform: translate(-60%, -50%)
            img
              width: 180px
              height: 52px
              display: flex
              @include mobile
                width: 135px
                height: 38px
      .block-icck-social-networks
        display: flex
        width: 30%
        align-items: center
        justify-content: center
        @include mobile
          display: none
        &.active_mobile
          @include mobile
            display: flex
            width: 80%
        .social-network
          .social-preset
            display: flex
            .item-link
              width: 24px
              height: 24px
              border: none
              background-size: 14px
              margin: 0 0 0 10px
              border-radius: 50px
              .item-list
                display: none
              &.face,
              &.twitt,
              &.insta,
              &.youtube
                background-color: $white
                cursor: pointer
              &.face
                background-image: url(/src/assets/images/ico-facebook-hover.svg)
                background-repeat: no-repeat
                background-position: 5px 5px
              &.twitt
                background-image: url(/src/assets/images/ico-twitter-hover.svg)
                background-repeat: no-repeat
                background-position: 5px 5px
              &.insta
                background-image: url(/src/assets/images/ico-instagram-hover.svg)
                background-repeat: no-repeat
                background-position: 5px 5px
              &.youtube
                background-image: url(/src/assets/images/ico-youtube-hover.svg)
                background-repeat: no-repeat
                background-position: 5px 5px
              @include mobile
                margin-left: 5px
              &:hover
                transition: all 0.3s ease
                transform: scale(1.2)
                background-color: #fff
              &:active
                transition: all 0.3s ease
                box-shadow: inset 0 0 2px 0 $white
            &::before
              content: 'Síguenos:'
              color: $white
header#header
  min-height: auto
  &.active_menu
    @include mobile
      width: 100%
      position: fixed
      top: 0
      z-index: 3
    .header-first
      .block
        &.block-block-47
          width: auto
          .content
            .group-wrapper2
              width: 30px
        &.block-icck-social-networks
          top: 5px
  .header-first
    @include mobile
      height: 55px
      padding: 10px 15px
  .header-second
    .block-menu-menu-copa-am-rica-2019
      .menu
        background: url(/src/assets/images/bg-menu-copa.png) top center no-repeat
        background-size: cover
        padding: 0
        li
          margin: 0 10px
          border-bottom: 1px solid rgba(255, 255, 255, .2)
          &:last-child
            border-bottom: 1px solid rgba(255, 255, 255, .2)
          a
            color: $white
            // font-family: $ubuntulgt
            font-size: 18px
            padding: 10px 20px
            margin: 0 -10px
  .header-second
    @include mobile
      width: 100%
      max-width: 100%
      z-index: 99
      display: none
      height: auto
      position: relative
      transform: inherit
    h2.block-title
      display: none
    section.block-icck-social-networks
      display: none
      @include mobile
        display: block
  .header-second.activo
    height: 100vh
    position: fixed
    z-index: 2
    @include mobile
      position: absolute
      top: 0
      padding-top: 75px
      overflow: initial
      height: auto !important
      width: auto !important
    &:before
      content: ''
      position: fixed
      height: 100%
      width: 100%
      background-color: rgba(0,0,0,.5)
      z-index: 2
      display: block
      opacity: 0.6
      margin-top: 0
      @include mobile
        display: none
    li.expanded
      &.activo
        >a:before
          @include mobile
            content: ''
            position: absolute
            height: 12px
            width: 12px
            right: 26px
            display: block
            border-top: solid 1px transparent
            border-bottom: solid 2px #3b8fdb
            border-right: solid 2px #3b8fdb
            border-left: solid 1px transparent
            transform: rotate(-45deg)
            transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1)
            top: 17px
            transform: rotate(-134deg)
  .header-first
    .block-icck-social-networks
      .block-search
        display: none
        @include mobile
          display: block
    .block-block-91
      display: inline-flex
      width: 80px
      height: 72px
      float: right
      background-color: #173867
      @include mobile
        position: absolute
        right: 0
        top: 0
        z-index: 999
        width: 70px
      .entity
        position: relative
        width: 80px
        height: 72px
        display: inline-flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        flex-direction: column
        @include mobile
          width: 70px
        .field-wrapper
          position: relative
          display: inline-flex
          width: 100%
          justify-content: center
          flex-wrap: wrap
          z-index: 1
          a
            position: relative
            display: inline-flex
            font-size: 0
            background-image: url("/src/assets/images/estadisticas.svg")
            background-size: 36px
            width: 80px
            height: 72px
            background-repeat: no-repeat
            background-position: center 10px
            z-index: 1
            &:hover
              transition: all .6s ease
              transform: scale(1)
              background-image: url("/src/assets/images/estadisticas-hover.svg")
            @include mobile
              background-size: 30px
              width: 100%
              justify-content: center
              background-position: center 15px
              display: block
              width: 100%
              justify-content: center
        p
          line-height: 1
          padding-top: 5px
          font-size: rem-calc(10)
          color: $white
          display: flex
          margin: 0
          text-transform: uppercase
          position: absolute
          bottom: 7px
          @include mobile
            font-size: rem-calc(9)
            padding-top: 7px
  .header
    display: inline-block
    @include mobile
      width: 100%
    // logo

    .container-logo
      margin: 10px 0
      margin-left: 20px
      display: inline-block
      @include mobile
        margin: 11px 0 0 20px
      img
        max-width: 120px
    &.block-golcaracol-utilities-logo
      float: left
      @include mobile
        float: none
      .container-logo2
        a
          width: 155px
          height: 55px
          display: inline-block
          vertical-align: middle
          padding-left: 30px
          @include mobile
            width: 130px
            height: 40px

ul
  margin: 0

li,ul
  list-style: none
  padding-left: 0

a
  color: $white
  line-height: inherit
  text-decoration: none
*
  box-sizing: border-box

.content_section
  a
    &:first-child
      display: none !important

    &:first-child:last-child
      display: inline-block !important
      margin-right: 5px

header
  display: inline-flex
  width: 100%
  button: focus
  outline: none
  align-items: center
  flex-wrap: wrap
  background-image: url(/src/assets/images/bg-header-copaamerica.png)
  background-repeat: no-repeat
  background-size: cover
  // &.fixed_menu
  //   position: fixed
  //   z-index: 3
  @include mobile
    //position: fixed
    box-shadow: 0px 9px 14px -8px rgba(0, 0, 0, 0.13)
    z-index: 3
  .header-first
    display: inline-flex
    width: 100%
    max-width: 1400px
    margin: 0 auto
    padding: 15px 30px
    align-items: center
    flex-wrap: wrap
    @include mobile
      display: flex
      padding: 18px
      position: relative
      z-index: 10
    .bloque-1
      display: inline-flex
      width: 80%
      align-items: center
      padding-left: 40px
      @include mobile
        width: 90%
        padding: 0
        justify-content: center
      .header-logo
        display: inline-flex
        width: 212px
        margin-left: 50px
        @include mobile
          margin: 0
          width: 180px
        img
          width: 70%
          height: 70px
          margin: 0
          cursor: pointer
          @include mobile
            height: auto
            width: 100%
      .group-contenido
        width: auto
        margin: 0
        @include mobile
          width: 212px !important
        &.content
          position: relative
          .field
            &.field-type-link-field
              width: 68%
              height: 100%
              position: absolute
              right: 0
              top: 0
              font-size: 0
              @include mobile
                width: 55%
              a
                width: 100%
                height: 100%
                display: block
              &.field-name-field-url-link
                left: 0
                width: 32%
            &.field-name-field-logo
              width: 100%
              position: relative
              @include mobile
                width: 212px
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                align-items: center
//       #menu-toggle
//         width: 36px
//         height: 36px
//         border: 2px solid $color-border
//         border-radius: 30px
//         position: relative
//         display: inline-block
//         text-indent: -999px
//         cursor: pointer
//         transition: all ease-in-out 0.5s
//         z-index: 3
//         @include mobile
//           display: block
//         &:before,
//         &:after
//           content: ''
//           display: block
//           background-color: $color-border
//           position: absolute
//           transition: all ease-in-out 0.3s
//         &:before
//           width: 2px
//           height: 25px
//           left: 50%
//           top: 50%
//           transform: translate(-50% , -50%)
//         &:after
//           width: 25px
//           height: 2px
//           left: 50%
//           top: 50%
//           transform: translate(-50% , -50%)
//         &.active_click
//           transform: rotate(135deg)
//     .bloque-2
//       display: inline-flex
//       width: 50%
//       align-items: center
//       @include mobile
//         margin: 0
//         top: 0
//         overflow: hidden
//         width: 70%
//       .header-redes
//         display: inline-flex
//         width: 100%
//         align-items: center
//       .social-preset
//         position: relative
//         display: inline-flex
//         width: 100%
//         justify-content: flex-end
//         .sig
//           @include mobile
//             display: none
//         .item-link
//           display: inline-block
//           border-radius: 50px
//           -webkit-border-radius: 50px
//           -moz-border-radius: 50px
//           border: 2px solid  $white
//           -webkit-border: 1px solid  $white
//           -moz-border: 1px solid  $white
//           width: 24px
//           height: 24px
//           border: none
//           margin: 0 0 0 10px
//           a
//             display: block
//             width: 100%
//             height: 100%

//           .item-list
//             display: none

//           &.face
//             background: url("/src/assets/images/ico-facebook.svg") no-repeat 5px 5px
//             background-color: #324f85
//             background-size: 14px

//           &.twitt
//             background: url("/src/assets/images/ico-twitter.svg") no-repeat 5px 5px
//             background-color: #4a90e2
//             background-size: 14px

//           &.insta
//             background: url("/src/assets/images/ico-instagram.svg") no-repeat 5px 5px
//             background-color: #5165ac
//             background-size: 14px

//           &.youtube
//             background: url("/src/assets/images/ico-youtube.svg") no-repeat 5px 5px
//             margin-right: 4px
//             background-color: #d71e17
//             background-size: 14px

//           &:hover
//             transition: all 0.3s ease
//             transform: scale(1.2)
//             background-color: #fff !important
//             &.face
//               background-image: url("/src/assets/images/ico-facebook-hover.svg")
//             &.twitt
//               background-image: url("/src/assets/images/ico-twitter-hover.svg")
//             &.insta
//               background-image: url("/src/assets/images/ico-instagram-hover.svg")
//             &.youtube
//               background-image: url("/src/assets/images/ico-youtube-hover.svg")
//           &:active
//             transition: all 0.3s ease
//             box-shadow: inset 0 0 2px 0 $white

.header-second
  max-width: 1400px
  padding: 0 30px
  margin: 0 auto
  position: relative
  display: none
  outline: none
  flex-wrap: wrap
  width: 100%
  &:before
    content: ''
    width: 100vw
    height: 100vh
    display: block
    position: fixed
    background-color: rgba(0,0,0,.5)
    left: 0
    z-index: 3
  @include mobile
    &:before
      display: none
  .row
    max-width: initial
    display: block
    width: 320px
    margin: 0
    position: absolute
    z-index: 3
    left: 0
    .column
      padding: 0
  .block-menu-menu-menu-mundial-de-rusia-2018
    overflow: hidden
    .menu
      width: 320px
      background-color: #f2e6d3
      padding: 0 10px
      margin: 0
      transform: translateY(-100%)
      background: url("/src/assets/images/back-menu-rusia.png") center center no-repeat
      background-size: cover
      z-index: 4
      @include mobile
        width: 100vw
        position: fixed
        height: calc(100vh - 98px)
        overflow-y: scroll
      @include large
        height: calc(100vh - 98px)
        //overflow-y: scroll
      &.active_menu
        display: block
        animation: menuHome 0.5s forwards
        @include mobile
          position: relative
      li
        border-bottom: 1px solid #fff
        &:last-child
          border-bottom: none
        a
          padding: 20px 15px
          color: #000
          display: block
          position: relative
          overflow: hidden
          &:before
            content: ''
            width: 100%
            height: 100%
            display: block
            background-color: rgba(255, 255, 255, 0.5)
            position: absolute
            left: 0
            top: 0
            transform: translateX(-100%)
            transition: all ease-in-out 0.3s
            z-index: -1
          &:hover
            &:before
              transform: translateX(0)
