//----------------FOOTER-------------------------//
@import "../../assets/css/basic.sass"

.logo_footer
	text-align: center
	margin: 40px 0
.block-menu-menu-general-footer
	overflow: hidden
	ul
		margin-left: 0
		li.expanded
			float: left
			width: 15.4%
			margin: 0 .6%
			.menu-category
				color: #434343
				font-weight: 300
				font-size: $medium-text
				text-transform: uppercase

			ul
				li
					a
						color: #041594
						font-size: $medium-text

#footer
	background-color: $backGround-footer
	border-top: .625rem solid $border-red
	clear: both
	position: relative
	z-index: 1
	.menu-general-mobile
		background-color: black
		overflow: hidden
		margin: -1px -0.83em 0px
		position: relative
		padding: 0px
		border-bottom: 0px solid #515151
		clear: both
		transition: height 0.5s ease
		height: 0px
		overflow: hidden
		&.open
			height: 220px
			padding: 0px 0 10px
			border-bottom: 1px solid #515151

		li
			display: block
			padding: 16px 20px
			&,a
				color: white
				text-transform: uppercase



	.block-title
		display: none

	h2,
	a.menu-category
		color: $white
		@include font-regular()
		font-size: rem-calc(13)
		margin-bottom: 0.5rem
		margin-top: 0.2rem

	ul
		li
			a
				float: left
				color: $light-blue
				display: block
				font-size: rem-calc(11)
				@include font-regular()
				line-height: 1.7
				width: 95%
				padding-right: 5%
				&:hover
					text-decoration: underline

				&.menu-category
					&:hover
						text-decoration: none





	.footer-site
		ul li a
			width: auto
			padding-right: inherit


	.top-footer
		margin-top: 18px
		border-top: 1px solid $grayCopyright
		border-bottom: 1px solid $grayCopyright
		padding: 20px 10px 0
		height: 82px
		position: relative
		ul.menu-general
			float: left
			width: 95%

			li
				@include mobile
					display: none
					&:first-child
						display: block


				a
					@include font-regular()
					color: $white
					font-size: rem-calc(13)
					line-height: 3
					padding: 0 12px
					text-transform: uppercase
					&.logo-footer
						background: url("../../assets/images/logo-footer.png") no-repeat 0 0
						height: 62px
						width: 62px
						margin: -8px 25px 0 0




		.btn-up
			background: url("../../assets/images/sprite.png") no-repeat -344px -0
			cursor: pointer
			height: 30px
			width: 35px
			display: block
			right: 16px
			margin-top: 12px
			position: absolute
			&.open
				-ms-transform: rotate(180deg) /* IE 9 */
				-webkit-transform: rotate(180deg) /* Chrome, Safari, Opera */
				transform: rotate(180deg)
				margin-top: 0



	.group-footer
		margin-top: 20px
		clear: both
		transition: all 0.5s ease
		height: 0px
		overflow: hidden
		&.open
			height: 523px


	.middle-footer
		clear: both
		overflow: hidden
		margin-bottom: 50px
		.row-menu
			float: left
			width: 20%
			li
				float: none
				a
					width: 100%




	.bottom-footer

		display: table
		margin-top: 30px
		.botom-row
			display: table-row
			h2
				display: table-cell
				vertical-align: top
				width: 17%
				margin: 0 10px 0 0
				text-align: right

			ul
				display: table-cell
				vertical-align: top
				padding-bottom: 28px
				li
					padding: 2px 19px 0 19px
					float: left
					a
						line-height: 1.5





	.pie
		clear: both
		margin-bottom: 30px
		padding: 35px 0
		@include mobile
			margin-bottom: 0
			padding-top: 10px

		.iab
			float: left
			margin-right: 10px
			min-height: 60px
			@include mobile
				width: 100%
				display: block
				float: none
				text-align: center

			.text
				color: #8e8e8e
				text-transform: uppercase
				font-size: rem-calc(11)
				display: inline
				font-weight: 300
				@include mobile
					vertical-align: middle


			.logo-iab
				background: url("../../assets/images/iab.jpg") no-repeat 0 0
				height: 42px
				width: 104px
				display: inline-block
				margin: 0 0 -12px 12px
				@include mobile
					display: inline-block
					margin: 0
					background-position: center 0
					vertical-align: middle
		.copyright
			text-align: left
			@include mobile
				text-align: center
				margin-top: 20px

			p
				color: $grayCopyright
				@include font-light()
				font-size: rem-calc(11)
				margin: 0
				a
					color: $white
					display: inline-block
					&:hover
						text-decoration: underline
