<template>
  <footer id="footer">
    <div class="row">
      <div class="column large-12">
        <section class="block block-golcaracol-utilities block-golcaracol-utilities-logo-footer">
          <div class="container-logo logo_footer"><a href="https://gol.caracoltv.com"><img typeof="foaf:Image" src="https://gol.caracoltv.com/sites/default/files/gol_fondo_azul_0_1_0.png" alt="GOLCARACOL.COM"></a></div>
        </section>
        <section class="block block-golcaracol-utilities block-golcaracol-utilities-static-footer">
          <div class="footer-site">
            <div class="top-footer">
              <a class="logo-footer-caracol only-in-mobile" href="https://www.caracoltv.com" title="Inicio"> </a>
              <span class="only-in-mobile toggle-movil"></span>
              <div class="group-top">
                <ul class="menu-general">
                  <li><a class="logo-footer" href="https://www.caracoltv.com" title="Inicio"> </a></li>
                  <li><a href="https://www.caracoltv.com/programas" target="_blank" title="Programas">Programas</a></li>
                  <li><a href="https://www.caracoltv.com/programacion" target="_blank" title="Horarios">Horarios</a></li>
                  <li><a href="https://www.caracoltv.com/senal-vivo" target="_blank">Señal en vivo</a></li>
                  <li><a href="https://www.noticiascaracol.com/" title="Noticias">Noticias</a></li>
                  <li><a href="https://www.golcaracol.com" target="_blank" title="Gol Caracol">Gol Caracol</a></li>
                  <li><a href="https://www.caracolplay.com/" target="_blank" title="Play">Play</a></li>
                </ul>
                <div @click="openFooter" :class="{ open: open }" class="btn-up"></div>
              </div>
            </div>
            <ul class="menu-general-mobile" :class="{ open: open }" v-if="mobile">
              <li><a href="https://www.caracoltv.com/programas" target="_blank" title="Programas">Programas</a></li>
              <li><a href="https://www.caracoltv.com/programacion" target="_blank" title="Horarios">Horarios</a></li>
              <li><a href="https://www.caracoltv.com/senal-vivo" target="_blank">Señal en vivo</a></li>
              <li><a href="https://www.noticiascaracol.com/" title="Noticias">Noticias</a></li>
              <li><a href="https://www.golcaracol.com" target="_blank" title="Gol Caracol">Gol Caracol</a></li>
              <li><a href="https://www.caracolplay.com/" target="_blank" title="Play">Play</a></li>
            </ul>
            <div class="group-footer" :class="{ open: open }" v-if="!mobile">

              <div class="middle-footer">
                <div class="row-menu">
                  <h2>Programas</h2>
                  <ul class="lista">
                    <li><a href="https://www.caracoltv.com/programacion" target="_blank" title="Programación">Programación</a></li>
                    <li><a href="https://www.caracoltv.com/senal-vivo" target="_blank" title="Canal de video">Canal de video</a></li>
                    <li><a href="https://www.caracoltv.com/" target="_blank" title="Producciones">Producciones</a></li>
                    <li><a href="https://www.caracoltv.com/servicio-al-televidente" target="_blank" title="Contáctenos">Contáctenos</a></li>
                  </ul>
                </div>
                <div class="row-menu">
                  <h2>Noticias Caracol</h2>
                  <ul class="lista">
                    <li><a href="https://noticias.caracoltv.com/canal-de-video" title="Canal de video">Canal de video</a></li>
                    <li><a href="https://noticias.caracoltv.com/" title="colombia">Colombia</a></li>
                    <li><a href="https://noticias.caracoltv.com/mundo" title="Mundo">Mundo</a></li>
                    <li><a href="https://noticias.caracoltv.com/entretenimiento" title="Entretenimiento">Entretenimiento</a></li>
                    <li><a href="https://noticias.caracoltv.com/deportes" title="Deportes">Deportes</a></li>
                    <li><a href="https://noticias.caracoltv.com/informativos" title="Informativos">Informativos</a></li>
                    <li><a href="https://noticias.caracoltv.com/especiales" title="Especiales">Especiales</a></li>
                    <li><a href="https://noticias.caracoltv.com/codigo-caracol" title="Código caracol">Código caracol</a></li>
                    <li><a href="https://noticias.caracoltv.com/de-tu-lado" title="De tu lado">De tu lado</a></li>
                    <li><a href="https://noticias.caracoltv.com/gente-que-le-pone-el-alma" title="Gente que le pone el alma">Gente que le pone el alma</a></li>
                    <li><a href="https://noticias.caracoltv.com/lomastrinado" title="#Lo más trinado">#Lo más trinado</a></li>
                    <li><a href="https://noticias.caracoltv.com/salud" title="Salud">Salud</a></li>
                    <li><a href="https://noticias.caracoltv.com/contactenos" title="Contáctenos">Contáctenos</a></li>
                  </ul>
                </div>
                <div class="row-menu">
                  <h2>Gol Caracol</h2>
                  <ul class="lista">
                    <li><a href="https://gol.caracoltv.com" title="Inicio" target="_blank">Inicio</a></li>
                    <!--<li><a href="https://www.golcaracol.com/canaldevideo/golcaracol" title="Canal de video" target="_blank">Canal de video</a></li>-->
                    <li><a href="https://gol.caracoltv.com/liga-aguila" title="Liga Aguila" target="_blank">Liga Águila</a></li>
                    <li><a href="https://gol.caracoltv.com/champions-league" title="Champions League" target="_blank">Champions League</a></li>
                    <!-- <li><a href="https://www.golcaracol.com/podcast" title="Podcast" target="_blank">Podcast</a></li> -->
                    <li><a href="https://gol.caracoltv.com/seleccion-colombia" title="Selección Colombia" target="_blank">Selección Colombia</a></li>
                    <li><a href="https://gol.caracoltv.com/ligas-torneos" title="Torneos y ligas" target="_blank">Torneos y ligas</a></li>
                    <!-- <li><a href="https://gol.caracoltv.com/contact/golcaracol" title="Contáctenos" target="_blank">Contáctenos</a></li> -->
                  </ul>
                </div>
                <div class="row-menu">
                  <h2>Caracol Play</h2>
                  <ul>
                    <li><a href="https://www.caracolplay.com/suscripcion/catalogo/telenovelas" target="_blank" title="Telenovelas">Telenovelas</a></li>
                    <li><a href="https://www.caracolplay.com/suscripcion/catalogo/series" target="_blank" title="Series">Series</a></li>
                    <!-- <li><a href="https://www.caracolplay.com/suscripcion/catalogo/peliculas" target="_blank" title="Películas">Películas</a></li> -->
                    <!-- <li><a href="https://www.caracolplay.com/suscripcion/catalogo/noticias" target="_blank" title="Noticias">Noticias</a></li> -->
                  </ul>
                </div>
                <div class="row-menu">
                  <h2>Nuestra red de portales</h2>
                  <ul class="lista">
                    <li><a href="https://www.elespectador.com/" target="_blank" title="Elespectador.com">Elespectador.com</a></li>
                    <li><a href="https://www.cromos.com.co" target="_blank" title="Cromos.com.co">Cromos.com.co</a></li>
                    <li><a href="https://www.shock.co/" target="_blank" title="Shock.co">Shock.co</a></li>
                    <li><a href="https://www.caracolplay.com/" target="_blank" title="Caracolplay.com">Caracolplay.com</a></li>
                    <li><a href="https://www.bluradio.com" target="_blank" title="Bluradio.com">Bluradio.com</a></li>
                    <li><a href="https://www.dataifx.com" target="_blank" title="Dataifx.com">Dataifx.com</a></li>
                    <li><a href="https://www.caracolnext.com" target="_blank" title="Paute con nosotros">Paute con nosotros</a></li>
                    <li><a href="https://www.teatromayor.org/" target="_blank" title="Teatromayor.org">Teatromayor.org</a></li>
                    <li><a href="https://caracoltvcorporativo.com/" target="_blank" title="Caracoltvcorporativo.com">Caracoltvcorporativo.com</a></li>
                    <li><a href="https://caracolinternacional.com/" target="_blank" title="Caracolinternacional.com">Caracolinternacional.com</a></li>
                    <li><a href="https://lakalle.bluradio.com/" target="_blank" title="lakalle.bluradio.com/">Lakalle.com</a></li>
                    <li><a href="https://www.caracolnext.com/" target="_blank" title="lakalle.bluradio.com/">Caracol Next</a></li>
                  </ul>
                </div>
              </div>
              <div class="bottom-footer">
                <div class="botom-row">
                  <h2>Servicios corporativos:</h2>
                  <ul class="listado">
                    <li><a href="https://www.caracoltv.com/servicio-al-televidente" title="Servicio al televidente" target="_blank">Servicio al televidente</a></li>
                    <li><a href="https://www.caracoltv.com/defensordeltelevidente" title="Defensor del televidente" target="_blank">Defensor del televidente</a></li>
                    <li><a href="https://www.caracoltvcorporativo.com/inversionistas/bolsa-de-valores" title="Colaboradores" target="_blank">Colaboradores</a></li>
                    <!-- <li><a href="https://www.caracoltvcorporativo.com/responsabilidad-social" title="Responsabilidad social" target="_blank">Responsabilidad social</a></li> -->
                    <li><a href="https://www.caracoltvcorporativo.com/" target="_blank" title="">Corporativo</a></li>
                    <li><a href="https://www.caracoltvcorporativo.com/inversionistas/bolsa-de-valores" title="Portal de clientes y proveedores" target="_blank">Portal de clientes y proveedores</a></li>
                    <li><a href="https://noticias.caracoltv.com/tags/servicios-de-produccion" title="Servicios de producción" target="_blank">Servicios de producción</a></li>
                    <li><a href="https://www.caracoltvcorporativo.com/sites/default/files/C%C3%93DIGO%20DEL%20BUEN%20GOBIERNO.pdf" title="Código del buen gobierno" target="_blank">Código del buen gobierno</a></li>
                    <li><a href="https://www.caracoltvcorporativo.com/contacto" title="Contáctenos" target="_blank">Contáctenos</a></li>
                  </ul>
                </div>
                <div class="botom-row">
                  <h2>Medios asociados:</h2>
                  <ul class="listado">
                    <li><a href="https://www.bbc.co.uk" title="BBC" target="_blank">BBC</a></li>
                    <li><a href="https://www.unitel.tv/site/index.php" title="UNITEL" target="_blank">UNITEL</a></li>
                    <li><a href="https://www.atv.com.pe" title="ATV" target="_blank">ATV</a></li>
                    <li><a href="https://www.rctv.net" title="RCTV.NET" target="_blank">RCTV.NET</a></li>
                    <li><a href="https://www.montecarlotv.com.uy" title="Monte Carlo TV" target="_blank">Monte Carlo TV</a></li>
                    <li><a href="https://www.telefe.com" title="Telefe" target="_blank">Telefe</a></li>
                    <li><a href="https://www.mega.cl" title="MEGA" target="_blank">MEGA</a></li>
                    <li><a href="https://www.ecuavisa.com" title="Ecuavisa" target="_blank">Ecuavisa</a></li>
                    <li><a href="https://www.tvn-2.com" title="TVN-2.com" target="_blank">TVN-2.com</a></li>
                  </ul>
                </div>
                <div class="botom-row">
                  <h2>Legal:</h2>
                  <ul class="listado">
                    <li><a href="https://static.canalcaracol.com/movil/Acuerdo2010RCNCARACOL.pdf" title="Condiciones de acceso Red de TV" target="_blank">Condiciones de acceso Red de TV</a></li>
                    <!-- <li><a href="https://www.caracoltv.com/asamblea-de-accionistas-2014" title="Información sobre la asamblea general 2014" target="_blank">Información sobre la asamblea general 2014</a></li> -->
                    <!-- <li><a href="https://www.caracoltv.com/asamblea-extraordinaria-de-accionistas-2014" title="Información sobre la asamblea extraordinaria de accionistas 2014" target="_blank">Información sobre la asamblea extraordinaria de accionistas 2014</a></li> -->
                    <li><a href="https://www.caracoltvcorporativo.com/" title="Corporativo" target="_blank">Corporativo</a></li>
                    <li><a href="https://www.caracoltvcorporativo.com/responsabilidad-corporativa" title="Responsabilidad Corporativa" target="_blank">Responsabilidad Corporativa</a></li>
                    <li><a href="https://gol.caracoltv.com/sites/default/files/politica_global_ctv.pdf" title="Políticas de Tratamiento" target="_blank">Políticas de Tratamiento de la Información</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="pie">
              <div class="iab"><span class="text">Miembro de</span><span class="logo-iab"></span></div>
              <div class="copyright">
                <p class="terms-conditions">El uso de este sitio web implica la aceptación de los <a href="https://gol.caracoltv.com/terminos-y-condiciones" title="Términos y Condiciones">Términos y Condiciones</a> y <a href="https://gol.caracoltv.com/sites/default/files/politica_global_ctv.pdf" target="_blank" title="Políticas de Tratamiento">Políticas de Tratamiento</a> de CARACOL TELEVISIÓN S.A. Todos los Derechos Reservados D.R.A. Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular. Reproduction in whole or in part, or translation without written permission is prohibited. All rights reserved 2012</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </footer>
</template>
<style src="./footer.sass" lang="sass"></style>
<script src="./footer.js"></script>
